
/************ CSS REUTILIZAVEL ************/
@media screen and (max-width: 768px){
	/************** SECCAO DE JS ***************/
	div.main-content form#calculadora p.resultado {
		display: flex; 
		flex-direction: column; /*** Para mostrar a printDose e printAlerta um abaixo do outro;*/
		border: none;
		font-size: 1rem;
	}

}


/* TABLET */

@media screen and (min-width:521px) and (max-width: 1005px){

	/* layout */
	.body-row {
		margin-top: 0px !important;
	}

	div.row-of-social-sites {
		max-width: 560px;
		padding: 5px;
		margin-bottom: 0px;
	}

	.body-row .main-content {
		max-width: 560px !important;
		border: groove 8px #eee;
		border-radius: 15px;
		width: 92%;
		background-color: #ffff;
	}

	/* Titulos */
	.main-content h1, .main-content h2 { 
		border: none !important; 
	
		font-size: 1.5rem;
		max-width: 500px;
		margin:  10px auto;
		background-color: #fcfcfc;
	}


	/* Conteudo - Calculadora */
	form#calculadora {  
		max-width: 500px;
		margin: auto;
	}

	form#calculadora fieldset {
		/*reset*/
		border: none;

		/*reformatacao */
		border-bottom: 2px groove #eee;
		border-top: 2px groove #eee;
		border-radius: 8px;	
	}

	
	form#calculadora legend {  
		font-style: normal;
	}


	form#calculadora p {
		display: flex;
		align-items: center;
	}

	form#calculadora p.resultado {
		flex-direction: column;
	}

	form#calculadora  input,  
	form#calculadora select  {
		border-radius: 5px;
		padding-top: 8px;
		padding-bottom: 8px;
		border: 1px solid #ccc;
		background-color: #fCfCfC;
	}

	form#calculadora p#paragrafo-parent-de-farmaco select {
		margin-left: 0px;           /*  Para alinhar a esquerda com os inputs*/
		margin-right: 92.77px;         /*  Esta margem corresponde aos selects de idade 
		e peso para que a flexao seja uniforme  */
	}

	form#calculadora p#paragrafo-parent-de-farmaco select#arvs {
		margin-right: 88.01px !important;         
	}

	form#calculadora p label, input {
		margin-right: 1%;
	}

	form#calculadora p input {
		flex-basis: 70%;
	}


	/**** Sessao JS ***********/
	form#calculadora p.resultado * {
		width: 100%;
	}

	form#calculadora p.resultado .print-dose, .print-error {
		padding: 0;
	}

	/*** PREFERENCIAS ***/

	body.dark .body-row {
		margin-top: 25px;	
	}

}


/************ MOBILE S & M ************/
@media screen and (max-width: 520px){

	.body-row {
		margin-top: 0px !important;
	}

	header div.header-row {
		padding: 15px 3%;  /*** Para alinhar com o conteudo da Calculadora ****/
	} 

	div.menu-on div.menu-mobile {
		right: 3%;
	}


	/********** CONTEUDO PRINCIPAL (CALCULADORA)  ************/

	div.body-row {
		border: none;
		margin-bottom: 0px !important;
	}

	div.body-row div.main-content {
		width: 100%;
		border: 1px solid #ddd;
	}
	
	/**** Calculator's title ****/
	div.main-content h1 {
		margin-bottom: 0px;
		margin: 20px 3% 0 3%;
		border-radius: 5px !important;
		padding: 5px;
	}


	/**** FORMATAÇAO DA CALCULADORA PROPRIAMENTE DITA ****/
	div.main-content form#calculadora {
		margin-top: 20px;
	}

	div.main-content form#calculadora  p {
		display: flex;
		flex-direction: row;

		border: 1px solid #ddd;
		border-radius: 5px;

		padding: 0px 10px 0px 0px;

		background-color: rgba(240, 240, 240, .7);

		margin: 20px 3%;
	}


	div.main-content form#calculadora  p:hover {
		border: 1px solid rgb(250, 160, 50);
	}

	div.main-content form#calculadora  p.resultado:hover {
		border: none;
	}

	/**** p (*) -> inclui input e select ****/
	div.main-content form#calculadora  p  *  {
		/****** Reset ******/
		border: none;
		outline: none;
		border-radius: 0px;

		/****** Formatacao ******/
		background-color: rgba(240, 240, 240, .5);
		font-weight: bold;
		
	}


	div.main-content form#calculadora p label{
		display: none;
	}

	div.main-content form#calculadora fieldset {
		/*     Reset     */
		border-left: none;
		border-right: none;
		border-radius: 0px;

		/*     Formatacao     */
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;

		margin-left: 0;
		margin-right: 0;
		
		background-color: #fff;
	}

	div.main-content form#calculadora fieldset:nth-child(3) {
		/*     Reset     */
		margin-bottom: 0;
		border-bottom: none;
	}
      
	div.main-content form#calculadora legend {
		font-style: normal;
	}

	div.main-content form#calculadora input {
		width: 100%;
	}

	div.main-content form#calculadora select#farmaco, select#arvs {
		max-width: 100% !important;
		width: 100%;
	}


	/************** SECCAO DE JS ***************/
	.print-dose, .print-alerta, .print-error{

		/***** reset ****/
		padding-left: 0px;
		padding-right: 0px;
		margin: 0;
		/***** reformatacao ****/
		padding: 10px;
	}

	.print-dose, .print-error {
		/***** reformatacao ****/
		background-color: rgba(240, 240, 240, .5); /*  Para uniformizar o fundo do campo de dose e posologia*/
		border-radius: 5px !important;
	}

	.print-alerta {
		/***** reformatacao ****/
		margin-left: 10px;
		margin-top: 0px;
		background-color: #EEF !important;
		border-top: 1px solid #ddd !important;
	}

	/**     TARV      **/
	
	table th{
		background-color: rgb(250, 160, 50) !important;
	}

	table td, th{
		color: rgb(250, 160, 50);
		font-size: 1rem !important;
	}	


	/*** Redes Sociais ****/

	.row-of-social-sites {
		padding: 10px;
		width: 100%;
		margin: auto;
		background-color: rgba(240, 240, 240, .5)
		
	}


	/*
		PREFERENCIAS ****
		Modo Escuro 
	 */
	 body.dark form legend {
		 color: #D6D8DA;
	 }
	 
	body.dark p.resultado * {
		background-color: rgb(46, 43, 43) !important;
	}
	
	body.dark p.resultado .print-alerta,
	body.dark p.resultado .print-alerta *,
	body.dark div.row-of-social-sites  {
		background-color: rgba(34, 31, 34) !important;
	}


	body.dark form#calculadora p {
		border-radius: 2px !important;
	}

	body.dark form#calculadora p#paragrafo-parent-de-idade:hover, 
	body.dark form#calculadora p#paragrafo-parent-de-peso:hover,
	body.dark form#calculadora p#paragrafo-parent-de-farmaco:hover {
		border-color: rgb(250, 160, 50) !important;
	}

	/** TARV **/

	body.dark p.resultado table th {
		background-color:rgb(250, 160, 50) !important;
		color: #D6D8DA;
	}
	
	body.dark p.resultado table th.gray {
		background-color: rgb(210, 120, 50) !important;
	}
}

@media screen and (max-width: 320px){
	/**     TARV      **/
	table {
		margin-left: 5px;
	}
}


