/*      REUTILIZÁVEL       */
body {
	background: #ddd;
	font-family: Arial, Helvetica, sans-serif, 'Source Sans Pro', sans-serif;
	color: #333;
}

*::selection{
	color: #fff;
	background-color: rgb(250, 160, 50);
}

img {
	max-width: 100%;
	height: 100%;
}

abbr {
	text-decoration: none;
	font-style: normal;
}


/* LINKS GERAIS */

a {text-decoration: none;}

a:hover {text-decoration: underline;}

/*-------------- LAYOUT DO SITE -----------------*/


/* Linhas comuns  */
.row {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}


/*  HEADER */

header {
	background-color: #555;
	padding: 25px 0;
}

.logo-box a {
	font-family: "Lobster", cursive, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.75rem;
	color: rgb(250, 160, 50);
}

/* NAV DO HEADER */

nav {
	padding-top: 10px;
}

.menu-box {
	flex-basis: 60%;
	text-align: right;
}

.menu-box ul li{
	display: inline-block;
	text-align: right;
	margin-right: 10px;
}

.menu-box ul li:last-child {margin-right: 0;}


.menu-box ul li a {
	color: #fff;
	padding: 15px 5px;
}


.menu-box div.menu-mobile {
	display: none;
}


/*  CORPO DO LAYOUT  */

.body-row {
	align-items: flex-start;
	margin-top: 40px;
	padding: 30px;
	background-color: #fff;

	border: none;
	outline: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

/* LINKS */
.main-content a:link {
	color: blue; /* Coerção */
}
	
.main-content a:visited, .row-of-social-sites a:visited{
	color: rgb(250, 160, 50);
}


/* TITULOS */
.body-row  h1, .body-row h2, .body-row h3, .body-row h4, .body-row h5 {
	line-height: 1.5;
	font-weight: bold;
}

.main-content h1, h2 {
	font-size: 2rem;
	padding: 5px;
	margin: 10px;
	text-align: center;	
	border-radius: 8px;
}

.main-content h3, .main-content h4, .main-content h5 {
	margin: 20px 10px 10px;
	padding: 10px;
}

.main-content h4 {
	font-size: 1.125rem;
	text-align: center;
}
/** listas ***/

.body-row ul, .body-row ol, .body-row dl {
	padding-left: 8% !important;
}


.body-row .main-content {
	width: 100%;
	max-width: 697px;

	border: groove 8px #ddd;
	
	
	border-radius: 15px;

	margin: 0;
	padding: 20px;
}

.main-content p, dl, dd, dt, .main-content li{
	padding: 10px;
	
	line-height: 1.6;
}

.main-content span {
	line-height: 1.6;
}


/*********** FORMATAÇÃO DO ASIDE **********/

.aside-content {
	height: 435px;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 5px 20px;
	box-shadow: 0 0 5px #888;
}

.aside-content h3 {
	margin: 24px 0px 10px 0px;
	font-weight: initial;
	text-align: left;
	background-color: #fff;
}


.aside-content ul{
	border-left: 1px solid rgb(250, 160, 50);
	border-radius: 5px;
	margin-left: 5px;

}
.aside-content ul li {
	display: block;
	
	font-size: 0.75rem;
	text-align: left;

	line-height: 1.6;
	margin-bottom: 10px;
}


.aside-content ul li a {
	color: #555;
}


/*        RODAPÉ           */

footer {
	color: #fff;
	background-color: #555;
	padding: 25px 0;
	font-size: 0.875rem;
}


div.footer-row-only-column{margin: 0 auto;}

footer p {
	line-height: 1.5;
}
footer a {
	color: rgb(250, 160, 50);
}


/***** REDES SOCIAIS ******/

.row-of-social-sites {
	padding: 10px  40px;
	margin-bottom: 40px;
	background-color: #fdfdfd;

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

}

.social-sites-container {
	width: 100%;
	max-width: 697px;

	display: flex;
	justify-content: space-around;
	
}

.social-sites-container a{
	max-width: 135px;

	display: flex;
	align-items: center;
	
}
.social-sites-container a h6{
	font-size: 0.875rem;
}

.social-sites-container a img{
	width: 25px;
	height: 25px;
	clip-path: circle(45%);
}



/**   JS   **/

meter{
	width: 100%;
	position: fixed;
	top: -10px;
	left: 0;

}
 
.z-index {
	z-index: -1;
}

/******* CSS REUTILIZAVEL    *********/

.trecho-com-display-none-no-pc {display: none;}

.trecho-com-display-none-in-mobile {font-weight: normal;}

.margin-top-vinte {margin-top: 20px;}


.margens-laterais-dez-pixels {
	margin-right: 10px !important;
	margin-left: 10px !important;
}


/***** PREFERENCIAS *****/

/** Formatacao Comum **/

body.dark main a {
	color: rgb(185, 65, 255) !important;
}

body.dark main a:visited {
	color: rgb(23, 112, 128) !important;
}

body.dark .aside-content li a,
body.dark p.slogan-do-misau,
body.dark div.container-of-all-content-sobre-o-autor a.sobre-o-autor, 
body.dark ul.lista-de-linguagens-dominadas a{
	color: #ddd !important;
}



@media screen and (min-width: 614px) {
	body.dark {
		background-color: #666;
		color: #ddd;
	}

	body.dark .body-row {
		margin-bottom: 40px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	
	/*** Dark elements **/
	body.dark header, 
	body.dark footer, 
	body.dark div.body-row,
	body.dark div.main-content, 
	body.dark .row-of-social-sites{
		background-color: #444 !important;
	}

	/*** Destaques ***/
	body.dark .column-container-of-calculator h1, 
	body.dark .column-container-of-calculator h2, 
	body.dark .aside-content h3, 
	body.dark p.exemplo,
	body.dark p.nota, 
	body.dark p.regra-de-tres-simples,
	body.dark p.prescricao-correcta,
	body.dark p.return-top a,
	body.dark div.seccao-sobre-desenvolvimento-web h3,
	body.dark form input, body.dark form select {

		background-color: #444 !important;
		box-shadow: 0 0 5px #888 !important;
		color: #ddd !important;
	}

	/*** Links com cores comuns ***/ 
	body.dark .main-content h1,
	body.dark .lista-de-linguagens-dominadas,
	body.dark form#preferences label {
		color: #ddd !important;
	}

	/*** Bordas ***/
	body.dark p.return-top, 
	body.dark .aside-content,
	body.dark hr{
		border-color: #888;
	}

	
}





/*** FONTES ***/

body.serif,
body.serif form select,
body.serif .banner-h2 {
	font-family: "Times New Roman", 'PT Serif', serif !important;
}


body.cursiva,
body.cursiva form select,
body.cursiva .banner-h2 {
	font-family: "Lobster", cursive !important;
}


/** ALINHAMENTO  DO TEXTO **/

body.justified {
	text-align: justify;
}


/** TAMANHO DA FONTE **/

html.font-small {
	font-size: 90% !important;
}


html.font-big {
	font-size: 115% !important;
}


@media screen and (min-width: 1155px) {

	/** CABECALHO **/
	html.font-big header .header-row, 
	html.font-big footer .footer-row {
		max-width: 1200px !important;
		padding-left: 3px;
		padding-right: 3px;
	}

	html.font-big form#calculadora select {
		max-width: 22.25rem !important;
	}

	/* Aside Content 
	html.font-big .aside-content {
		padding-right: 10px !important;
		padding-left: 15px !important;
	}*/
}




.header-row-dir-column {
	flex-direction: column;
}


.menu-box-width-cem  {
	width: 100%;
	margin-top: 30px;
}


.formatacao-para-ul-do-menu-com-fontegrande {
	width: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
}

.formatacao-para-ul-do-menu-com-fontegrande li:first-child{
	text-align: left;
	flex-basis: 6%;
}

.formatacao-para-ul-do-menu-com-fontegrande li:last-child{
	text-align: right;
}

   
.formatacao-para-li-do-menu-com-fontegrande {
	flex-grow: 1;
	text-align: center;
}

/**  Rodape*/

.display-block {
	display: block !important;
	line-height: 1.6;
	text-align: center;
}

/***      Css para o aside        ***/



.inputform-max-width-static {
	max-width: 21rem !important;
}



