/*      REUTILIZÁVEL       */
body {
	background: #ddd;
	font-family: Arial, Helvetica, sans-serif, 'Source Sans Pro', sans-serif;
	color: #333;
}

*::selection{
	color: #fff;
	background-color: rgb(250, 160, 50);
}

img {
	max-width: 100%;
	height: 100%;
}

abbr {
	text-decoration: none;
	font-style: normal;
}


/*       Links gerais    */

a {text-decoration: none;}

a:hover {text-decoration: underline;}


/*----------------- TÍTULOS  ----------------------*/


.main-content h1, h2 {font-size: 2rem;}


.aside-content h3 {
	font-size: 1.125rem; 
	margin-top: 14px;
}


/*-------------- LAYOUT DO SITE -----------------*/


/* Linhas comuns  */
.row {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}


/*  HEADER */

header {
	background-color: #555;
	padding: 25px 0;
}

.logo-box a {
	font-family: "Lobster", cursive, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 2rem;
	color: rgb(250, 160, 50);
}

/* NAV DO HEADER */

nav {
	padding-top: 10px;
}

.menu-box {
	flex-basis: 60%;
	text-align: right;
}

.menu-box ul li{
	display: inline-block;
	text-align: right;
	margin-right: 10px;
}

.menu-box ul li:last-child {margin-right: 0;}


.menu-box ul li a {
	color: #fff;
	padding: 15px 5px;
}


.menu-box div.menu-mobile {
	display: none;
}


/*  CORPO DO LAYOUT  */

.body-row {
	align-items: flex-start;
	margin-top: 40px;
	padding: 30px;
	background-color: #fff;

	border: none;
	outline: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

/* LINKS */
.main-content a:link {
	color: blue; /* Coerção */
}
	
.main-content a:visited {
	color: rgb(250, 160, 50);
}


/*       Titulos       */

.body-row  h1, .body-row h3, .body-row h2{
	font-weight: bold;
	color: #333;

	padding: 5px;

	margin-top: 10px;
	margin-bottom: 10px;

	background-color: #f8f8f8;
	text-align: center;	
	
	border-radius: 8px;
	line-height: 1.5;

	/* Para alinhar o titulo ao corpo da pagina */
	margin-left: 10px;
	margin-right: 10px;
}

/** listas ***/

.body-row ul, .body-row ol, .body-row dl {
	padding-left: 8% !important;
}


.body-row .main-content {
	width: 100%;
	max-width: 697px;

	border: groove 8px #ddd;
	
	
	border-radius: 15px;

	margin: 0;
	padding: 20px;
}

.main-content p, dd, dt, .main-content li{
	padding: 10px;
	
	line-height: 1.6;
}


/*********** FORMATAÇÃO DO ASIDE **********/

.aside-content {
	height: 435px;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 10px;
	box-shadow: 0 0 5px #888;
}

.aside-content h3 {
	margin: 24px 0px 10px 0px;
	font-weight: initial;
	text-align: left;
	background-color: #fff;
}


.aside-content ul{
	border-left: 1px solid rgb(250, 160, 50);
	border-radius: 5px;
	margin-left: 5px;

}
.aside-content ul li {
	display: block;
	
	font-size: 0.75rem;
	text-align: left;

	line-height: 1.6;
	margin-bottom: 10px;
}




.aside-content ul li a {
	color: #555;
}


/*        RODAPÉ           */

footer {
	color: #fff;

	background-color: #555;

	padding: 25px 0;
	
}

.footer-row-only-column{margin: 0 auto;}

footer a {
	color: rgb(250, 160, 50);
}


/***** REDES SOCIAIS ******/

.row-of-social-sites {
	padding: 10px  40px;
	margin-bottom: 40px;
	background-color: #fdfdfd;

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

}

.social-sites-container {
	width: 100%;
	max-width: 697px;

	display: flex;
	justify-content: space-around;
	
}

.social-sites-container a{
	max-width: 135px;

	display: flex;
	align-items: center;
	
}
.social-sites-container a h6{
	font-size: 0.875rem;
}

.social-sites-container a img{
	width: 25px;
	height: 25px;
	clip-path: circle(45%);
}

/**   BARRA DE  PROGRESSO    **/

meter{
	width: 100%;
	position: fixed;
	top: -10px;
	left: 0;

}

.z-index {
	z-index: -1;
}

/******* CSS REUTILIZAVEL    *********/

.trecho-com-display-none-no-pc {display: none;}

.trecho-com-display-none-in-mobile {font-weight: normal;}

.margin-top-vinte {margin-top: 20px;}


.margens-laterais-dez-pixels {
	margin-right: 10px !important;
	margin-left: 10px !important;
}


/***** PREFERENCIAS *****/

/**  FUNDO **/
	
/*Elemetos que usam:	header, footer, div.body-row, div.main-content, div.row-of-social-sites */
	 
.fundo_escuro_triplodois {
	background-color: #222 !important;
	color: #ddd !important;
} 


/* Elemetos que usam:	Body Desktop e titulos */
.fundo_cinzaescuro-para-body {
	background-color: rgb(44, 43, 43) !important;
	color: #ddd;	
}


.fundo-preto-para-titulo, .fundo-preto-para-aside{
	background-color: rgb(31, 31, 31) !important;
	color: #ccc !important;
	border: none !important;
} /* desktop */


.fundo-cinza-para-titulo-do-aside {
	color: #ddd !important;
	background-color: rgb(34, 34, 34) !important;
} /* desktop */

/* Elemetos que usam:	Links de retorno */
.fundo-azul-escuro {background-color: #21222c !important;}


/* Elemetos que usam: Links no geral */
.cor-roxa {color: rgb(185, 65, 255) !important;}

.cor-roxa:visited {color: rgb(23, 112, 128) !important;}



/*** FORMULARIOS ****/

.css-para-formChildren {
	background-color: rgb(31, 31, 31) !important;
	border-color: #777 !important;
	color: #ddd !important;
} /* mobile */

/*** Bordas: Elementos que usam: main-content, form fieldset ***/
.border-cinza {border-color: #777 !important;}

/*** Bordas: Elementos que usam: body-row, main-content, hr, p-parent de links de retorno e elementos de form no mobile  ***/
.border-cinza-discreta {border-color: #444 !important;}

.border-bottom-triple-four {
	border-bottom: 1px solid #444 !important;
}
/*Elementos que usam: destaques*/
.border-none {
	border: none !important;
}

/**** Destaques ******/
.margens-laterais-e-border-radius-dez {
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
}


/***    RESPONSIVIDADE *****/

.fundo-cinza-para-header-footer {
	background-color: rgb(46, 43, 43) !important;
	color: #eee !important;
}


/*
.fundo-roxo-para-destaques {
	background-color: rgb(42, 34, 46) !important;
}
*/


/** TABELAS  ***/

.th-cor-escura{
	color: #333 !important;
}

/*** FONTES ****/

.fonte-serifada {
	font-family: "Times New Roman", 'PT Serif', serif !important;
}

.fonte-cursiva {
	font-family: "Lobster", cursive !important;
	font-size: 1.125rem;
}

/** ALINHAMENTO **/

.text-align-justify {
	text-align: justify;
}


/** TAMANHO DA FONTE **/

.font-size-small {
	font-size: 90% !important;
}

.font-size-big {
	font-size: 118% !important;
}

/** LAYOUT BIG FONT

	Cabeçalho
****/

.max-width-maior-para-rows-header-footer {
	max-width: 1200px !important;
	padding-left: 3px;
	padding-right: 3px;
}


.header-row-dir-column {
	flex-direction: column;
}


.menu-box-width-cem  {
	width: 100%;
	margin-top: 30px;
}


.formatacao-para-ul-do-menu-com-fontegrande {
	width: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
}

.formatacao-para-ul-do-menu-com-fontegrande li:first-child{
	text-align: left;
	flex-basis: 6%;
}

.formatacao-para-ul-do-menu-com-fontegrande li:last-child{
	text-align: right;
}

   
.formatacao-para-li-do-menu-com-fontegrande {
	flex-grow: 1;
	text-align: center;
}

/**  Rodape*/

.display-block {
	display: block !important;
	line-height: 1.6;
	text-align: center;
}

/***      Css para o aside        ***/

.padding-para-aside-com-bigfont{
	padding-right: 10px !important;
	padding-left: 15px !important;
}

.inputform-max-width-static {
	max-width: 21rem !important;
}

.selectform-max-width-static {
	max-width: 22.25rem !important;
}

