/************ CSS REUTILIZAVEL ************/

@media screen and (max-width: 768px){

	

	/************** SECCAO DE JS ***************/

	div.main-content form#calculadora p.resultado {
		display: flex; 
		flex-direction: column; /*** Para mostrar a printDose e printAlerta um abaixo do outro;*/

		border: none;
		font-size: 1rem;
	}
	

	/************** RODAPE ***************/
	 footer p {
	 	font-size: 0.875rem;
	 	line-height: 2;
	 }
}




@media screen and (min-width: 820px) and (max-width: 1070px){
	/******** HEADER ***********/
	/* Para alinhar o cabecalho e o rodape com o conteudo da pagina */
	header .header-row{
		padding-left: 30px;
		padding-right: 30px;
	} 

	.body-row {
		border-radius: 0;
	}

	/******* FOOTER *******/
	footer .footer-row p{
		text-align: center;
		line-height: 2;

	}

	footer .footer-row a{
		display: block;
	}
}


@media screen and (min-width: 769px) and (max-width: 1020px){
	/* Manejo da Barra lateral   */

	.body-row .aside-content {
		/* reset */
		padding-right: 0;
		margin-right: 0;

		/* reformatacao */
		background-color: #fff;
		text-align: right;
	}
}



@media screen and (min-width: 769px) and (max-width: 1005px){
	
	.body-row .aside-content {
		display: none;
	} /* Nao mostrar o aside */


	/*______ Conteudo Principal _____*/
	.body-row .main-content {
		width: 100%;
		margin: 0 auto;
	}

	.body-row .main-content form#calculadora {
		margin: 0 auto;
	}

}


/**********     Tablet    ***********/

@media screen and (min-width: 521px) and (max-width: 850px){	

	/******** RESET DO BODY ***********/
	body {
		width: 100%;
		background-color: #eee;
	} 


	/******** HEADER ***********/
	div.header-row {
		flex-direction: column;
	}


	div.header-row .menu-box  {
		width: 100%;

		margin-top: 30px;
	}


	div.header-row .menu-box nav ul {
		width: inherit;

		display: flex;
		justify-content: center;
		align-items: center;

		padding: 0 10px;
	}


	div.header-row .menu-box nav li {
		flex-grow: 1;

		text-align: center;
	}


	/************ LINKS COMUNS ***********/
	a:hover {
		text-decoration: none;
	}


	/***********  CORPO DA PAGINA ********/
	.body-row {
		border-radius: 0px;
	}

	/******** TITULOS *************/
	div.body-row .main-content h1, .main-content h2, .main-content h3, .main-content h4 {
		/****  Reset ********/
		line-height: 2;
	}


	/******** ASIDE ***********/
	div.aside-content {
		display: none;
	}


	/******** RODAPE ***********/
	footer p {
		text-align: center;
		line-height: 2;
	}


	footer p a {
		display: block;
	}
}


/**********     Dispositivos com telas intermedias entre tablet e mobile    ***********/

@media screen and (min-width: 521px) and (max-width: 700px) {
	/** reset  **/
	.body-row {
		padding: 0;
	}

	/** TITULOS **/
	.body-row .main-content h2, h1 {
		font-size: 28px;
		line-height: 1.5 !important;
	}

	/* CONTEUDO PRINCIPAL */
	.body-row .main-content {
		border-radius: 5px;

		border: 1px groove #eee;
	}

	/*     RODAPE           */
	footer .footer-row {
		padding-right: 20px;
		padding-left: 20px;
	}
}




/********* Small and Medium phone ****/

@media screen and (max-width: 520px){

	/*      REUTILIZÁVEL       */

	html {
		font-size: 110%;
	}

	body {
		background-color: #fff;
		width: 100%;
	}

	/*************  HEADER   *************/
	header {
		padding: 0; /*-- Reset --*/

		border-bottom: 8px groove orange; /*-- Nova formatação --*/
	}


	header div.logo-box a {
		

		/*-- Nova formatação --*/
		font-size: 25px;
	}

	header nav {display: none;}


	header div.header-row {
		flex-wrap: nowrap;
		padding: 15px;
		flex-direction: row;
	} 

	header div.header-row div.logo-box {flex: 1 0 80%;}


	header div.header-row div.menu-box {
		/** Para posicionar o menu hamburger a direita **/
		display: flex;
		justify-content: flex-end;
	} 

	/************ LINKS COMUNS  ***************/
	a:hover {text-decoration: none;} /*-- reset */

	/***** SESSAO DE MENU-MOBILE *****/
	.menu-box div.menu-mobile {
		width: 40px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		border: 1px solid orange;
		border-radius: 2px;
		
		padding: 2px 0;

		transition: border 200ms ease-out;
	}

	div.menu-mobile h4 {
		font-size: 12px;
		font-weight: bold;

		color: #aaa;
		
		transition-duration: 200ms;
	}

	div.hamburger-container {width: 30px;}

	div.hamburger-container div {
		width: 100%;
		height: 3px;

		margin: 4px 0;

		background-color: #eee;
		
		border-radius: 10px;

		transition-duration: 200ms; /* Transição de menu-hamburger "Off" para "ON"; */
	}

	/***** Menu On - Posisionamento *****/

	div.menu-on {
		position: absolute;
		top: 0;
		left: 0;

		width: 100vw;
		height: 100vh;

		z-index: 1000;

		background-color: #555;

		border-bottom: 8px groove orange;

		/*	1 - div.menu-on has got 2 Element Childreen: "div.menu-mobile and nav ul";
			2 - Because of position absolute on the div.menu-mobile, now the only child of div.menu is "nav ul"
			3 - So the block flex above is to center "nav ul";
		*/
		
		display: flex;
		justify-content: center;
		align-items: center;
	}


	/******** Transformacao do menu-hamburger *********/

	div.menu-on div.menu-mobile {
		border: none; /* reset */

		position: absolute; 
		top: 15px;
		right: 15px;
	}

	div.menu-on div.menu-mobile h4{
		opacity: 0; 
	}

	div.menu-on div.menu-mobile div.f1 {
		transform: rotate(35deg) translate(2px, 3px);
	}

	div.menu-on div.menu-mobile div.f2 {
		opacity: 0;
		transition: opacity 300ms ease-out;
	}

	div.menu-on div.menu-mobile div.f3 {
		transform: rotate(-35deg) translate(7px, -8px);
	}

	div.menu-on div.menu-mobile div.f1, div.f3 {
		transition: transform 200ms ease-out; /* Transição inversa de menu-hamburger "ON" para "OFF"; */
	} 

	/********* SHOW MENU ***********/
	div.menu-on nav {
		width: 100%;

		display: block;
	}

	div.menu-on nav ul {
		padding: 0px;
	}

	div.menu-on nav ul li{
		display: block;
		margin: 0;

		text-align: center;
	}

	div.menu-on nav ul li a{
		display: block;
		margin: 20px;

		padding: 22px;
		font-size: 1.375rem;
	}

	div.menu-on nav ul li a:nth-child(1){
		margin-top: 0;
	}

	/************ CORPO DA PAGINA************/

	/******** TITULOS *************/
	div.body-row .main-content h1, .main-content h2, .main-content h3 {
		/****  Reset ********/
		background-color: #eee;
		border: none;
		border-radius: 0px;

		/****  Reformatacao ********/
		font-size: 24px;
		color: #555;
		margin: 20px 10px 10px 10px;
		line-height: 1.5;
	}



	/******** TITULOS *************/
	div.body-row .main-content h3, .main-content h4, .main-content h5 {
		color: #555;
		line-height: 1.5;
		margin-right: 10px !important;
		margin-left: 10px !important;
	}

	div.body-row{
		/***** Reset ****/
		border-radius: 0px;
		padding: 0;
		/****  Reformatacao ********/
		background-color: #fff;
		margin-top: 30px;
		border-top: solid 1px #ddd;
	}

	/******** TITULOS *************/
	div.body-row div.main-content {
		/***** Reset ****/
		border: none;
		border-radius: 0px;
		padding: 0px;
		/****** Nova Formatacao *****/
		width: 96%; /**** Para deixar uma margem de 3% em cada lad ***/
		margin: 0 auto;
		background-color: #fff;
		
	}

	.main-content p, span, dd, dt, .main-content li{
		line-height: 2.5;
	}

	/******** BARRA LATERAL ********/
	div.body-row div.aside-content {
		display: none;
	}

	/************ FOOTER ************/
	 footer {
	 	width: 100%;
	 }

	 footer p {
	 	text-align: center;
	 	margin: 0 3%;
	 }

	 footer p a {
	 	display: block;
	 }


	 /******* CSS REUTILIZAVEL    ******/
	 .trecho-com-display-none-no-pc {display: inline;}

	.trecho-com-display-none-in-mobile {display: none;}

	/****** Tabelas da Pagina de Diversos  ******/
	table td, th {
		border: 1px solid #888 !important;
	}
}