/****** FORMATAÇÃÇÃO DA DIV-PARENT DAS 3 INNER-DIVS *****
	Designed by Adérito Félix Quinamine
*/

.social-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}

/****** FORMATAÇÃÇÃO COMUM DAS 3 DIV'S FILHAS ********/
.social-container > div {
	height: 200px;
	flex: 1 1 193px;

	margin: 10px;

	border: 1px solid #000;
	
	font-size: 1.875rem;
	
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}
.social-container > div:nth-child(1) {
	margin-left: 0;
}

.social-container > div:nth-child(3) {
	margin-right: 0;
}

/****** FORMATAÇÃÇÃO DA DIV FILHA COM ENDEREÇO DO MEU FB *****/
.social-container .rede_social.fb{
	background-color: blue;
	font-family: "Arial black", Arial, Helvetica, sans-serif;
}

.social-container .rede_social.fb p{
	color: #fff;
	font-size: 3.125rem;
}

/****** FORMATAÇÃÇÃO DA DIV FILHA COM ENDEREÇO DO MEU GMAIL *****/
.social-container .rede_social.gmail{
	background-color: orange;
	font-family: Arial, Helvetica, sans-serif;
}

.social-container .rede_social.gmail p {
	color: #fff;
	font-size: 3.125rem;
}

/****** FORMATAÇÃÇÃO DA DIV FILHA COM ENDEREÇO DO MEU CONTACTO DA VODACOM *****/
.social-container .sapp{
	background-color: red;
}

.social-container .rede_social.sapp a p{
	color: #fff;
	opacity: 0;
	transition: 2s;
}

.social-container .rede_social.sapp a p:hover{
	opacity: 1;
}

/****** FORMATAÇÃÇÃO DOS LINK'S CONTAINER DAS DIV'S INTERNAS*****/
.social-container .rede_social a {
	display: block;
	width: 100%;
	height: 100%;
}

.social-container .rede_social a .filha_do_link {
	width: 100%;
	height: 100%;

	/***** Para centralizar o conteudo *****/
	display: flex;
	align-items: center;
	justify-content: center;
}

/**************** TEXTO **************/

.main-content p.nota {
	margin-top: 0;
	font-style: oblique;
}

/**************** CSS REUTILIZAVEL **************/
.font-weight-bold {
	font-weight: bold;
}


/*** nota de contacto ****/

.nota {
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
}


/** RESPONSIVIDADE **/

@media screen and (max-width: 520px){
	.main-content {
		display: flex;
		flex-direction: column;
	}

	.social-container .sapp a{
		display: none;
	}

	/**************** TEXTO **************/
	.main-content h1 {
		order: -2;
	}
	
	.main-content div.descricao {
		order: -1;
	}
}


@media screen and (min-width: 770px) {
	meter {
		display: none;
	}
}