@media screen and (max-width: 520px){
	.main-content {
		display: flex;
		flex-direction: column;
	}


	.social-container .sapp a{
		display: none;
	}

	/**************** TEXTO **************/
	.main-content h1 {
		order: -2;
	}
	
	.main-content div.descricao {
		order: -1;
	}
}


@media screen and (min-width: 770px) {
	meter {
		display: none;
	}
}