@media screen and (max-width: 520px){
	.main-content {
		display: flex;
		flex-direction: column;
	}


	.main-content .social-container div {
		border-radius: 5px;
	}

	.social-container .sapp a{
		display: none;
	}

	/**************** TEXTO **************/
	.main-content h1 {
		order: -2;
	}
	
	.main-content div.descricao {
		order: -1;
	}
}