/************* INTERVALO ENTRE AS DIV CONTAINER'S DOS DIFERENTES CONTEUDOS *************/

.main-content div {
	margin-bottom: 20000px;
}

/************* TITULOS *************/
.main-content h4 {
	font-size: 1.125rem;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: none;
	border: 0.5px dotted #1f3e8a;
}

/************* FORMATACAO DAS TABELAS *************/
table {
	border-collapse: collapse;
	width: 96%;
	max-width: 621px;
	margin: 0 auto;
}

table td, th {
	border: 2px solid #888;
	padding: 10px;
	text-align: center;
	line-height: 1.5;
	vertical-align: middle;
}

.tabela-de-doses-de-diazepam {
	table-layout: fixed;
	margin-top: 40px;
}

.tabela-de-doses-de-diazepam thead tr:nth-child(1) {
	background-color: rgb(250, 160, 50);
}

.tabela-de-doses-de-diazepam tfoot tr td {
	font-size: 0.75rem;
	font-style: italic;
	color: #555;
}


/**** SESSAO DE ADMINISTRACAO DE DIAZEPAM ****/
.main-content p.nota {
	background: #EEF;
	color: #000;

	font-weight: bold;
	font-style: italic;

	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.main-content p.nota + h4 {
	margin-top: 40px;
}
.main-content ul {
	list-style: disc !important;
	list-style-position: inside;
	padding-left: 50px;
}




/*********** CSS - REUTILIZAVEL ***********/

.main-content h4, h6, th, tfoot td {
	font-weight: bold;
	text-align: center;
}

.main-content p.parent-de-link-de-volta {
	text-align: center;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.main-content p.parent-de-link-de-volta a{
	background-color: rgb(250, 160, 50);
	padding: 15px 30px;
	border-radius: 40px;
}

.main-content p.parent-de-link-de-volta a:visited{
	color: #fff;
}

.background-gray {
	background-color: #ddd;
}