
@media screen and (max-width: 520px){
	/*************** MOLDURAS E IMGS **************/
	.main-content picture {
		width: 100%;
		height: auto;
		margin: 0px auto;
		padding: 0px;
	}

	.main-content picture img{
		padding: 10px;
	}

	/*************** PARAGRAFOS **************/
	p.nota-de-formulario,  p.regra-de-tres-simples, p.prescricao-correcta, p.nota {
		font-style: normal;

		margin-left: 10px;
		margin-right: 10px;

		border: 1px solid #eee;
		border-radius: 5px;
	}

	p.regra-de-tres-simples, p.prescricao-correcta {
		padding-left: 10px; /*** Para tirar a margem a esquerda que identa o conteudo no PC ***/
		font-size: 1rem /*16px*/;
	}

	p.conclusao {
		margin-top: 0px !important;
	}

	p.slogan-do-misau {
		margin-top: 10px !important;
	}


	/*********** TÍTULOS ************/
	div.body-row .main-content h4 {
		margin: 10px auto;

		padding: 10px;


		border-radius: 5px;
	}

	div.body-row .main-content h4.conclusao {
		margin-top: 20px; /*** Para se afastar da borda do p com fundo cinza ****/
	}


	/*********** Classes Reutilizaveis ************/
	.trecho-com-display-none-in-mobile {
		display: none;
	}

	.trecho-com-display-none-no-pc {
		display: inline;
		font-weight: normal;
		color:  #333;
	}

}

/*********** SESSAO SOBRE MIM ************/
@media screen and (max-width: 569px){
	div.container-of-the-section-sobre-o-autor-and-its-description {
		flex-direction: column;
		justify-content: center;
	}
}

/*********** To not break p with class 'boa prescricao' and 'regra-de-tres-simples' ************/
@media screen and (max-width: 347px){
	p.prescricao-correcta, p.regra-de-tres-simples {
		font-size: 16px !important; 
	}
}



/*********** To not break p with class 'boa prescricao' and 'regra-de-tres-simples' ************/
@media screen and (max-width: 274px){
	p.prescricao-correcta, p.regra-de-tres-simples {
		font-size: 14px !important; 
	}
}