

.contentor-do-titulo-do-acordeon {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    border-top: thin solid #ddd;
    padding: 0 2px;
    cursor: pointer;
    overflow: hidden;
}

.acordeon:last-child .contentor-do-titulo-do-acordeon {
    border-bottom: thin solid #ddd;
}

.acordeon .contentor-do-titulo-do-acordeon:active {
    background-color: #eee;
}

.acordeon:last-child  p {
    border-bottom: 1px solid #eee;
}

@media screen and (min-width: 1024px) {
    .contentor-do-titulo-do-acordeon:hover {
        background-color: #eee;
    }
}

.acordeon .icone {
    width: 35px;
    height: 35px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 10px;
    margin-left: -7px;
    transform: rotate(45deg);
    grid-gap: 0;
    transition: gap 100ms ease-out;
}

.acordeon .icone div {
    background-color: #888;
 }


.acordeon h2 {
    margin: 0;
    font-size: 0.9375rem;
    flex: 1;
    padding-left: 5px;
}

.acordeon span {
    font-size: 25px;
    transform: rotate(90deg);
    transition: transform 100ms ease-out;
}

.acordeon p {
    margin: 0;
    font-size: 0.875rem;
    padding: 5px 10px 5px 34px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    display: none;
    color: #555;
    transition: all 100ms ease-out;
}

.acordeon table {
    display: none;
}

.acordeon table th {
    background-color: #fafafa !important;
    color: initial;
}

.acordeon table th,
.acordeon table td {
    font-size: 0.875rem;
    padding-left: 34px;
    border: 1px solid #eee;
    color: #555;
}


/*** ABERTURA ***/
.acordeon.aberto h2 {
    color: #000 !important;
}

.acordeon.aberto .icone {
    grid-gap: 2px;
}

.acordeon.aberto .icone div {
    background-color: brown;
}

.acordeon.aberto .contentor-do-titulo-do-acordeon {
    background-color: #ddd;
}


.acordeon.aberto span {
    transform: rotate(-90deg);
    color: brown;
}

.acordeon.aberto p {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.acordeon.aberto table {
    display: table;
}
