
/************ CSS REUTILIZAVEL ************/
@media screen and (max-width: 768px){
	/************** SECCAO DE JS ***************/
	div.main-content form#calculadora p.resultado {
		display: flex; 
		flex-direction: column; /*** Para mostrar a printDose e printAlerta um abaixo do outro;*/
		border: none;
		font-size: 1rem;
	}
}




/************ TABLET ************/

@media screen and (min-width: 768px) and (max-width: 1023px){

	/************ Sessao JS      ************/
	#link-de-redirecionamento {
		text-decoration: none;
	}
}

@media screen and (min-width: 830px) and (max-width: 1005px){

	.social-sites-container {
		max-width: 100%;
	}
}

@media screen and (min-width:701px) and (max-width: 768px){
	.print-dose, .print-alerta, .print-error{

		/***** reset ****/
		padding-left: 0px;
		padding-right: 0px;
		margin: 0;
		/***** reformatacao ****/
		padding: 10px;
		
	}
}

@media screen and (min-width: 521px) and (max-width: 768px){
	
	/******** BODY ***********/
	div.body-row {
		justify-content: center;
	}
	
	form#calculadora p {
		display: flex;
	}

	form#calculadora p#paragrafo-parent-de-farmaco label {
		margin-left: 0; /*  Para alinhar a esquerda com os labels de peso e idade*/
	}

	
	form#calculadora p#paragrafo-parent-de-farmaco select {
		margin-left: 0px;           /*  Para alinhar a esquerda com os inputs*/
		margin-right: 90px;         /*  Esta margem corresponde aos selects de idade 
		e peso para que a flexao seja uniforme  */
	}

	form#calculadora p label, input {
		margin-right: 1%;
	}

	form#calculadora p input {
		flex-basis: 70%;
	}

	/************** SECCAO DE JS ***************/

	.print-error{
		/***** reset ****/
		padding-left: 0px;
		padding-right: 0px;
		margin: 0;
		/***** reformatacao ****/
		padding: 20px;
	}

	#link-de-redirecionamento {
		text-decoration: none;
	}
}


/************* DISPOSIVOS INTERMEDIÁRIOS ENTRE MOBILE M E TABLET **************/

@media screen and (min-width:521px) and (max-width: 700px){


	.body-row {
		background-color: #eee;
		margin-top: 40px;
	}

	.body-row .main-content {
		border: 4px groove #ddd;
		border-radius: 15px;
		width: 92%;
		background-color: #ffff;
	}


	.body-row .main-content form#calculadora {  
		max-width: 500px;
		margin: auto;
	}

	.body-row .main-content h1, h2 {  
		max-width: 500px;
		margin:  10px auto;
		background-color: #fafafa;
	}

	.body-row .main-content form#calculadora legend {  
		font-style: normal;
	}

	.body-row .main-content form#calculadora p#paragrafo-parent-de-idade input, p#paragrafo-parent-de-peso input, #calculadora select  {
		padding-top: 0px;
		padding-bottom: 0px;
		
	}

	.body-row .main-content form#calculadora p input,  select {  
		border-width: 1px;
	}

	.body-row .main-content form#calculadora fieldset {
		/*      reset       */
		border: none;

		/*      reformatacao       */
		border-bottom: 2px groove #ccc;
		border-top: 2px groove #ccc;
		border-radius: 10px;	
	}


	/**** Sessao JS ***********/
	div.main-content form#calculadora p.resultado {
		padding: 0;
		
	}
	.print-dose, .print-alerta, .print-error{

		/***** reset ****/
		padding: 0 10px;
		margin: 0;
		/***** reformatacao ****/
		
	}

	/***  Redes Sociais *****/
	.row-of-social-sites {
		background: none;
		margin-bottom: 0px;
	}

}


/************ MOBILE S & M ************/
@media screen and (max-width: 520px){

	header div.header-row {
		padding: 15px 3%;  /*** Para alinhar com o conteudo da Calculadora ****/
	} 

	div.menu-on div.menu-mobile {
		right: 3%;
	}


	/********** CONTEUDO PRINCIPAL (CALCULADORA)  ************/

	div.body-row {
		border: none;
		margin-bottom: 0px !important;
	}

	div.body-row div.main-content {
		width: 100%;
		border: 1px solid #ddd;
	}
	
	/**** Calculator's title ****/
	div.main-content h2 {
		margin-bottom: 0px;
		margin: 20px 3% 0 3%;

		border-radius: 5px;
		line-height: 1.5;
	}


	/**** FORMATAÇAO DA CALCULADORA PROPRIAMENTE DITA ****/
	div.main-content form#calculadora {
		margin-top: 20px;
	}

	div.main-content form#calculadora  p {
		display: flex;
		flex-direction: row;

		border: 1px solid #ddd;
		border-radius: 5px;

		padding: 0px 10px 0px 0px;

		background-color: rgba(240, 240, 240, .7);

		margin: 20px 3%;
	}


	div.main-content form#calculadora  p:hover {
		border: 1px solid rgb(250, 160, 50);
	}

	div.main-content form#calculadora  p.resultado:hover {
		border: none;
	}

	/**** p (*) -> inclui input e select ****/
	div.main-content form#calculadora  p  *  {
		/****** Reset ******/
		border: none;
		outline: none;
		border-radius: 0px;

		/****** Formatacao ******/
		background-color: rgba(240, 240, 240, .5);
		font-weight: bold;
		font-size: 0.875rem; /* 14px */
	}

	div.main-content form#calculadora p label{
		display: none;
	}

	div.main-content form#calculadora fieldset {
		/*     Reset     */
		border-left: none;
		border-right: none;
		border-radius: 0px;

		/*     Formatacao     */
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;

		margin-left: 0;
		margin-right: 0;
		
		background-color: #fff;
	}

	div.main-content form#calculadora fieldset:nth-child(3) {
		/*     Reset     */
		margin-bottom: 0;
		border-bottom: none;
	}
      
	div.main-content form#calculadora legend {
		font-style: normal;
	}

	div.main-content form#calculadora input {
		width: 100%;
	}


	.main-content p, span, dd, dt, .main-content li{
		line-height: 2;
	}


	/************** SECCAO DE JS ***************/
	.print-dose, .print-alerta, .print-error{

		/***** reset ****/
		padding-left: 0px;
		padding-right: 0px;
		margin: 0;
		/***** reformatacao ****/
		padding: 10px;
		
	}

	.print-dose, .print-error {
		/***** reformatacao ****/
		background-color: rgba(240, 240, 240, .5); /*  Para uniformizar o fundo do campo de dose e posologia*/
		font-size: 1rem !important;
		line-height: 1.6;
	}

	.print-alerta {
		/***** reset ****/
		border-radius: 10px;
		/***** reformatacao ****/
		margin-left: 10px;
		font-size: 0.875rem !important;
		margin-top: 0px;
		background-color: #EEF !important;
		border-top: 1px solid #ddd !important;
		line-height: 1.6;

	}

	/**     TARV      **/
	table th{
		background-color: rgb(250, 160, 50) !important;
	}

	table td, th{
		color: rgb(250, 160, 50);
		font-size: 1rem !important;
	}	


	/*** Redes Sociais ****/

	.row-of-social-sites {
		padding: 10px;
		width: 100%;
		margin: auto;
		background-color: rgba(240, 240, 240, .5)
		
	}

	.social-sites-container a h6{
		font-size: 0.75rem;
	}

}

@media screen and (max-width: 320px){
	/**     TARV      **/
	table {
		margin-left: 5px;
	}
}


