/*          BODY           */

.body-row {
	margin-bottom: 40px;
}

form {
	width: 100%;
	max-width: 640px;
	margin-top: 25px;
}


form fieldset {
	border: 5px groove #888;
	border-radius: 20px 0 20px 0;

	margin-top: 10px;
	margin-bottom: 10px;
}


legend {
	font-weight: bold;
	font-style: oblique;

	color: #fff;
	background-color: rgb(210, 120, 50);

	

	text-align: -moz-center;
	text-align: -webkit-center;
	text-align: center;
	
	padding: 10px;

	border-radius: 8px;
}


.main-content p{
	margin: 15px auto;
}


form label {
	font-weight: bold;
}


#calculadora input, select {
	width: 100%;
	max-width: 27rem;

	font-size: 0.9375rem; /*15px;*/
	color: #000;
	
	font-family: "arial";

	padding: 10px;

	border-radius: 8px;
	border: 2px groove orange;
}


#calculadora select#farmaco {
	max-width: 28.1rem;
}


#calculadora select optgroup {
	background-color: #fff;
}

#calculadora label, input, select {
	display: inline-block;
	margin: 0 auto;
}


#calculadora p select.input-extension {
	width: 5.625rem;

	font-size: 1rem;

	border: dotted 1px rgb(250, 160, 50);
}

.resultado {height: auto;}


/*      SECCAO DE JAVASCRIPT            */

.print-dose, .print-alerta, .print-error{
	font-weight: bolder;

	color: rgb(250, 160, 50);

	display: block;
	margin: auto;

	padding-left: 20px;
	padding-right: 20px;
}

.print-alerta {
	color: #555;
	background-color: #EFD;

	padding-top: 10px;
	padding-bottom: 10px;

	font-size: 0.9375rem;

	margin-top: 20px;
	

	border-radius: 10px;
}

.print-error{
	color: red;
}

#link-de-redirecionamento {
	color: inherit;
	font-size: inherit !important;
}

/*       CSS REUTILIZAVEL     */
.text-color-orange {
	font-size: 0.9375rem;
	color: rgb(250, 160, 50);
}

.color-black {
	color: #555;
}

.display-block {
	display: block;
}

.align-center {text-align: center;}

.hide {
	display: none !important;
}


/**     TARV      **/
.select-da-pagina-tarv {
	max-width: 456px;
}
table {
	width: 100%;
	max-width: 300px;
	table-layout: fixed;
	margin: 0 auto;
}

table, th, td {
	text-align: center;
	border: 1px solid #888;
	border-collapse: collapse;
	font-weight: bold;
}

tr:nth-child(3){
	font-weight: lighter;
}

table th {
	background-color:rgb(250, 160, 50);
	color: #fff;
}
