
@media screen and (min-width: 614px) and (max-width: 1071px) {
	.header-row {flex-direction: column;}

	.header-row .logo-box {margin-bottom: 20px;}

	.header-row nav {width: 100%;}

	.header-row nav ul {
		max-width: 1071px;
		justify-content: center;
		align-items: center;
	}

	.header-row nav ul li{
		flex: 1;
		text-align: center;
	}

	.header-row nav ul li a{padding: 18px 10px;}

	.header-row nav ul li a span.trecho-dedoses {display: none;}

}


@media screen and (min-width: 1006px) and (max-width: 1071px) {

	li.dropdown-container.cdp ul.dropdown-menu{
		left: 14.5%;
	}
}


@media screen and (min-width: 614px) and (max-width: 623px) {
	.trecho-mim {
		display: none;
	}
}


/* MENU RETICENCIAS  */
@media screen and (min-width:614px) and (max-width:1005px){
    section.menu-reticencias {
        max-width: 590px;
    }

    .container-dos-tres-pontos {
        border-radius: 0 !important;
    }

    /*** MENU RETICENCIAS ON ****/

    section.menu-reticencias.active div.conteudo-do-menu-reticencias {
        right: 3%;
    }

    section.menu-reticencias {
        position: relative;
    }

    div.conteudo-do-menu-reticencias {
        /*position: absolute;*/
        right: 5%;
    }
}

/* Menu reticicencias hide no Desktop e DISPLAY DROPDOWN-MENU */
@media screen and (min-width:1006px){
    div.body-row {
        margin-top: 40px !important;
    }

    section.menu-reticencias {
        display: none;
    }

    /* Dropdown Menu */
    .header-row nav{
        position: relative;
    }

    li.dropdown-container.on a.target {
        background-color: #f4f4f4;
        color: #333;
    }

    li.dropdown-container ul.dropdown-menu {
        display: none ;
        transition: all 300ms;
    }

    li.dropdown-container.on ul.dropdown-menu {
        display: block;
        position: absolute;
        top: 40px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-top: none;
        box-shadow: 0 2px 0 #aaa;
        transition: all 300ms;
		z-index: 10;
    }


    li.dropdown-container.on ul.dropdown-menu li{
        line-height: 3;
        border-top: 1px solid #eee;
        display: flex;
        transition: all 300ms;
    }

    li.dropdown-container.on ul.dropdown-menu li a {
        color: #333;
        padding: 10px 28px !important;
        flex: 1;
        overflow: hidden;
    }

    li.dropdown-container.on ul.dropdown-menu li a:hover {
        border-bottom:none;
    }

   
}

/* Menu reticicencias display none no mobile e tablet */
@media screen and (max-width: 1005px){
    .header-row nav ul.dropdown-menu {
        display: none;
    }
}



/*     TABLET MAIN CONTENT  */
@media screen and (min-width: 521px) and (max-width: 1005px){	
	
	/** RESET DO BODY **/
	body {
		width: 100%;
		background-color: #fff;
	} 

	/* CABECALHO */
	.header-row .logo-box{
		display: flex;
		width: 89%;
	}

	.header-row nav ul li a:hover, a.active{
		background-color: inherit;
	}
	
	.header-row nav ul li a span.pagina-inicial {display: none;}

	.header-row nav ul li a span.inicio {display: initial;}
	


	/* CORPO */

	.body-row {
		border-radius: 0;
		padding: 20px;
		max-width: 700px;
		margin: 0 auto;
		background-color: #fff !important;
	}

	.body-row .main-content {
		padding: 0;
		border: none;
	}

	.body-row .main-content form#calculadora {margin: 25px auto 0;}


	/* RESET */
	a:hover {text-decoration: none;}

	.body-row .aside-content {display: none;} 


	/******** RODAPE ***********/
	footer p {
		text-align: center;
		line-height: 1.5;
	}

	footer p a {display: block;}


	/*** PREFERENCIAS ***/

	body.dark {
		background-color: #444;
	}

	body.dark header {
		border-bottom: 2px solid #555;
	}

	body.dark footer {
		border-top: 2px solid #555;
	}

	body.dark .body-row {
		margin: 0px auto 0px auto;	
	}

}


/* Small and Medium phone HEADER */
@media screen and (max-width: 613px){

	/* RESET */
	a:hover {text-decoration: none;} 


	/*************  HEADER   *************/
	header {
		padding: 0; /*-- Reset --*/
		border-bottom: 8px groove orange; /*-- Nova formatação --*/
	}

	header div.logo-box a {font-size: 24px;}

	header .header-row nav {display: none;}

	header .header-row {
		flex-wrap: wrap;
		padding: 15px;
		flex-direction: row;
	} 

	.header-row div.logo-box {flex-basis: 80%;}

	.header-row nav ul li a{
		color: #fff;
	}

	.header-row nav ul li a:hover{
		background-color: rgba(219, 146, 57, .4);
		border-bottom: none;
	}
	
	
	.index a.active,
	.cdp a.active,
	.darv a.active,
	.preferences a.active,
	.sobre a.active,
	.contacto a.active {
		/* Reset */
		border-bottom: none !important;
		color: #fff;
	}

	

	/* SESSAO DE MENU-MOBILE */
	.header-row div.menu-mobile {
		width: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 1px solid #444;
		border-radius: 2px;
		padding: 2px 0;
		transition: border 200ms ease-out;
	}

	div.menu-mobile h4 {
		font-size: 12px;
		font-weight: bold;
		color: #aaa;
		transition-duration: 200ms;
	}

	div.hamburger-container {width: 30px;}

	div.hamburger-container div {
		width: 100%;
		height: 3px;
		margin: 4px 0;
		background-color: #eee;
		border-radius: 10px;
		transition-duration: 200ms; /* Transição de menu-hamburger "Off" para "ON"; */
	}

	/***** Menu On - Posisionamento *****/

	.header-row.menuOn {
		position: absolute;
		top: 0;
		left: 0;

		width: 100vw;
		height: 100vh;
		z-index: 1000;

		background-color: #555;
		border-bottom: 8px groove orange;
		align-items: flex-start;
		transition: height 200ms ease-out;
	}


	/* Transformacao do menu-hamburger */

	.header-row.menuOn div.menu-mobile {
		border: none;
		order: 0;
	}

	.header-row.menuOn div.menu-mobile h4{opacity: 0;}

	.header-row.menuOn div.menu-mobile div.f1 {
		transform: rotate(35deg) translate(2px, 3px);
	}

	.header-row.menuOn div.menu-mobile div.f2 {
		opacity: 0;
		transition: opacity 300ms ease-out;
	}

	.header-row.menuOn div.menu-mobile div.f3 {
		transform: rotate(-35deg) translate(7px, -8px);
	}

	.header-row.menuOn div.menu-mobile div.f1, div.f3 {
		transition: transform 200ms ease-out; 
	} 

	/********* SHOW MENU ***********/
	.header-row.menuOn nav {
		flex: 1;
		display: block;
	}

	.header-row.menuOn nav ul {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		line-height: 3.5;
		border: 1px solid rgb(77, 77, 77);
	}

	.header-row.menuOn nav ul li {
		width: 100%;
		border-bottom: 1px solid rgb(77, 77, 77);
	}

	.header-row.menuOn nav ul li:last-child {
		width: 100%;
		border-bottom: 0px;
	}

	.header-row.menuOn nav ul li a{
		display: block;
		padding: 0px;
		text-align: center;
	}

	.header-row.menuOn nav ul li a:hover{
		border: none;
	}

	/*** PREFERENCIAS ****/

	body.dark, 
	body.dark div.body-row, 
	body.dark div.main-content,
	body.dark .row-of-social-sites,
	body.dark fieldset
	{
		background-color: #222 !important;
		color: #D6D8DA;
	}

	/** HEADER */
	body.dark header, body.dark footer{
		background-color: rgb(46, 43, 43) !important;;
	}

	/** Titulos **/
	body.dark .main-content h1,
	body.dark .main-content h2,
	body.dark .main-content h3,
	body.dark .main-content h4,
	body.dark .main-content h5{
		background-color: initial !important;
		color: #D6D8DA !important;
	}

	/** Destaques **/

	body.dark .column-container-of-calculator h1, 
	body.dark .column-container-of-calculator h2, 
	body.dark .main-content h4.nota-conclusiva,
	body.dark .aside-content h3, 
	body.dark p.exemplo,
	body.dark p.nota, 
	body.dark p.regra-de-tres-simples,
	body.dark p.prescricao-correcta,
	body.dark p.return-top a,
	body.dark form#calculadora p, 
	body.dark form input,
	body.dark form select {
		background-color: rgb(46, 43, 43) !important;
		color: #D6D8DA !important;
	}

	/** BORDAS **/
	body.dark .body-row,
	body.dark .main-content,
	body.dark .banner-row,
	body.dark h4.nota-conclusiva,
	body.dark .seccao-sobre-desenvolvimento-web h3,
	body.dark fieldset,
	body.dark input,
	body.dark select,
	body.dark p,
	body.dark .print-alerta,
	body.dark hr,
	body.dark table,
	body.dark th,
	body.dark td {
		border-color: #444 !important;
	}

	body.dark p.paragrafo-da-nota-conclusiva {
		border: none !important;
	}
}

/** Alinhamento do menu Humbeger ao Logo **/
@media screen and (min-width: 338px) {
	.header-row.menuOn .logo-box {margin-top: 10px;}

	.header-row.menuOn .menu-mobile {padding-top: 0px;}
}

/* Small and Medium phone Body and Footer */
@media screen and (max-width: 520px){
	
		body {
			background-color: #fff;
			width: 100%;
		}

	/* CORPO DA PAGINA */

	/* TITULOS */
	div.body-row .main-content h1, .main-content h2, .main-content h3 {
		/****  Reset ********/
		background-color: #eee;
		border: none;
		border-radius: 0px;

		/****  Reformatacao ********/
		font-size: 1.5rem;
		color: #555;
		margin: 20px 10px 10px 10px;
	}



	/******** TITULOS *************/
	div.body-row .main-content h3, .main-content h4, .main-content h5 {
		color: #555;
		margin-right: 10px !important;
		margin-left: 10px !important;
	}

	div.body-row{
		/***** Reset ****/
		border-radius: 0px;
		padding: 0;
		/****  Reformatacao ********/
		background-color: #fff;
		margin-top: 30px;
		border-top: solid 1px #ddd;
	}

	/******** TITULOS *************/
	div.body-row div.main-content {
		/***** Reset ****/
		border: none;
		border-radius: 0px;
		padding: 0px;
		/****** Nova Formatacao *****/
		width: 96%; /**** Para deixar uma margem de 3% em cada lad ***/
		margin: 0 auto;
		background-color: #fff;
		
	}


	/******** BARRA LATERAL ********/
	div.body-row div.aside-content {
		display: none;
	}

	/************ FOOTER ************/
	 footer {
	 	width: 100%;
		 font-size: 0.875rem;
	 }

	 footer p {
	 	text-align: center;
	 	margin: 0 3%;
	 }

	 footer p a {
	 	display: block;
	 }


	 /******* CSS REUTILIZAVEL    ******/
	 .trecho-com-display-none-no-pc {display: inline;}

	.trecho-com-display-none-in-mobile {display: none;}

	/****** Tabelas da Pagina de Diversos  ******/
	table td, table th {
		border: 1px solid #888 !important;
	}
}


/* Menu mobile em dispositivos com altura menor */
@media screen and (max-height: 403px) {
	.header-row.menuOn nav ul, 
	.header-row.menuOn nav ul li {
		border: none !important
	}
	.header-row.menuOn nav ul li a{max-height: 40px;}

	.header-row.menuOn nav ul li a:hover{background-color: initial;}
}



