
/*  FORMATACAO GENERICA  */

body {
	background: #ddd;
	font-family: Arial, Helvetica, sans-serif, 'Source Sans Pro', sans-serif;
	color: #333;
}


*::selection{
	color: #fff;
	background-color: rgb(250, 160, 50);
}
 

meter{
	width: 100%;
	position: fixed;
	top: -10px;
	left: 0;
}

/** Imagens e Multimedia **/

picture, img {
	max-width: 100%;
	height: 100%;
	display: block;
	margin: 0 auto;
}


/* Titulos */

.main-content h1, 
.main-content h2, 
.main-content h3, 
.main-content h4, 
.main-content h5,
.main-content {
	line-height: 1.5;
	font-weight: bold;
}

.main-content h1 {
	font-size: 2rem;
	margin-bottom: 10px;
	text-align: center;	
	border-radius: 8px;
}

.main-content h2, 
.main-content h3, 
.main-content h4,
.main-content h5{
	margin: 30px 0px 10px 0px;
}

.main-content h2 {font-size: 1.375rem;}

.main-content h3 {font-size: 1.25rem;}

.main-content h4 {font-size: 1.125rem;}

.main-content h5 {font-size: 1rem;}


/* Texto - Paragrafos */

abbr {
	text-decoration: none;
	font-style: normal;
}

.main-content p, dl, dd, dt, .main-content li{line-height: 1.6;}

.main-content p, .main-content ul, .body-row dl {margin: 30px 0;}

.body-row li, dl, dd, dt {margin: 15px 0;}

.destaque {
	padding: 10px;
	background-color: #EEF;
}

.bold, .trecho-com-display-none-in-mobile {
	font-weight: bold;
}



/* Links */

a {text-decoration: none;}

a:visited{color: rgb(250, 160, 50);}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}


/* Listas */
.main-content ul, .body-row ol, .body-row dl {padding-left: 6%;}

.main-content ol{list-style: decimal inside;}

.main-content ul {list-style: disc inside;}

/* Tabelas */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}


.main-content table th,
.main-content table td {
	line-height: 1.6;
	padding: 10px;
	border: 1px solid #888;
}

.main-content table thead tr:first-child th{
	background-color: #FAA032;
}

.main-content table thead tr:nth-child(2) th, 
tfoot td {
	background-color: #EEE;
}

/* LAYOUT */

.row {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

/*  CABEÇALHO */

header {
	background-color: #555;
}


/* Logo */

.logo-box {
	padding-bottom: 8px;
	padding-left: 10px;
}


.logo-box a {
	font-family: "Lobster", cursive, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: #FAA032;
}

.logo-box a:hover {text-decoration: none;}


/* Menu Desktop */
div.menu-mobile,
span.darv {display: none;}

.header-row nav {flex-basis: calc(100% - 30%);}

.header-row nav ul {
	display: flex;
	justify-content: flex-end;
}

.header-row nav ul li{
	display: flex;
}

.header-row nav ul li a{
	flex: 1;
	padding: 20px 10px 18px 10px;
	color: #aaa;
	font-size: 0.875rem;
}

.header-row nav ul li a:hover{
	cursor: pointer;
	text-decoration: none;
	color: #fff;
}


.index a.active,
.cdp a.active,
.darv a.active,
.preferences a.active,
.sobre a.active,
.contacto a.active {
	border-bottom: 2px solid #fff !important;
	color: #fff;
	border-radius: 3px;
}


/* DROPDOWN MENU */

li.dropdown-container {
	position: relative;
}

li.dropdown-container.on a.target {
	background-color: #EFF;
	color: #333;
}

li.dropdown-container ul.dropdown-menu {
	display: none ;
	transition: all 300ms;
}

li.dropdown-container.on ul.dropdown-menu {
	display: block;
	position: absolute;
	top: 53px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-top: none;
	box-shadow: 0 2px 0 #aaa;
	transition: all 300ms;
	z-index: 10;
	width: 100%;
}


li.dropdown-container.on ul.dropdown-menu li{
	line-height: 3;
	border-top: 1px solid #eee;
	display: flex;
	transition: all 300ms;
	position: relative;
}


li.dropdown-container.on ul.dropdown-menu li a {
	color: #333;
	padding: 7px 10px;
	flex: 1;
	overflow: hidden;
	font-size: 0.75rem;
}

li.dropdown-container.on ul.dropdown-menu li a:hover {
	border-bottom:none;
}


/* MENU RETICENCIAS */
section.menu-reticencias {
	display: none;
}

section.menu-reticencias {
    height: 30px;
}

div.container-dos-tres-pontos {
    width:34px;
    border-radius: 8px;
    margin-right: 3%;
    padding: 10px 5px; 
}

div.container-dos-tres-pontos:hover {
    background-color: #eee;
}

div.container-dos-tres-pontos > div {
    width: 4px;
    height: 4px;
    background-color: #888;
    border-radius: 3px;
    margin: 1px;
}


div.conteudo-do-menu-reticencias {
    position: absolute;
    top: 12%;
    right: 8%; 
    border-radius: 4px;
    background-color: #FFf;
    box-shadow: 0 0 5px #888;
    color: #888;
    width: 0;
    transition: width 150ms;
    overflow: hidden;
}


div.conteudo-do-menu-reticencias nav{
    padding: 0px;
}


div.conteudo-do-menu-reticencias nav ul li {
    list-style: none !important;
    line-height: 2;
    display: flex;
}

div.conteudo-do-menu-reticencias nav ul li a{
    flex: 1;
    padding: 10px 10px 10px 15px;
    color: #555;
}

/*** MENU RETICENCIAS ABERTO ****/

section.menu-reticencias.activo
div.conteudo-do-menu-reticencias, 
div.conteudo-do-menu-reticencias nav {
    right: 1%;
    display: block;
    width: 75vw;
}



/* CORPO DA PAGINA */

.body-row {
	align-items: flex-start;
	margin-top: 40px;
	padding: 30px;
	background-color: #fff;
	border: none;
	outline: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.body-row .main-content {
	width: 100%;
	max-width: 697px;
	border: groove 8px #ddd;
	border-radius: 15px;
	margin: 0;
	padding: 20px;
}

/* CONTEÚDO LATERAL */

.aside-content {
	width: 11.75rem;
	height: 435px;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 5px 15px;
	box-shadow: 0 0 5px #888;
}


.aside-content h3 {
	margin: 24px 0px 10px 0px;
	font-weight: initial;
	text-align: left;
	background-color: #fff;
}

.aside-content ul{
	border-left: 1px solid rgb(250, 160, 50);
	border-radius: 5px;
	margin-left: 5px;
}

.aside-content ul li {
	display: block;
	font-size: 0.75rem;
	text-align: left;
	line-height: 1.6;
	margin-bottom: 10px;
}

.aside-content ul li a {color: #555;}


/* SECÇÃO DE REDES SOCIAIS */

.row-of-social-sites {
	padding: 10px  40px;
	margin-bottom: 40px;
	background-color: #fdfdfd;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.social-sites-container {
	width: 100%;
	max-width: 697px;
	display: flex;
	justify-content: space-around;
}

.social-sites-container a{
	max-width: 135px;
	display: flex;
	align-items: center;
}

.social-sites-container a h6{font-size: 0.75rem;}

.social-sites-container a img{
	width: 25px;
	height: 25px;
	clip-path: circle(45%);
}

/*        RODAPÉ         */

footer {
	color: #D6D8DA;
	background-color: #555;
	padding: 10px 0;
	font-size: 0.875rem;

	
}

.footer-row p {
	text-align: center;
	width: 100%;
}

footer p {line-height: 1.5;}

footer a {color: rgb(250, 160, 50);}


/******* CLASSES REUTILIZÁVEIS    *********/
.z-index {z-index: -1;}

.trecho-com-display-none-no-pc {display: none;}



/***** PREFERENCIAS *****/


body.dark main a {color: rgb(185, 65, 255) !important;}

body.dark main a:visited {color: rgb(23, 112, 128) !important;}

body.dark .aside-content li a,
body.dark p.slogan-do-misau,
body.dark div.container-of-all-content-sobre-o-autor a.sobre-o-autor, 
body.dark ul.lista-de-linguagens-dominadas a{
	color: #D6D8DA !important;
}


@media screen and (min-width: 614px) {
	body.dark {
		background-color: #666;
		color: #D6D8DA;
	}

	body.dark .body-row {
		margin-bottom: 40px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	
	/*** Dark elements **/
	body.dark header, 
	body.dark footer, 
	body.dark div.body-row,
	body.dark div.main-content, 
	body.dark .row-of-social-sites{
		background-color: #444 !important;
	}

	/*** Destaques ***/
	body.dark .column-container-of-calculator h1, 
	body.dark .column-container-of-calculator h2, 
	body.dark .aside-content h3, 
	body.dark p.exemplo,
	body.dark p.nota, 
	body.dark p.regra-de-tres-simples,
	body.dark p.prescricao-correcta,
	body.dark p.return-top a,
	body.dark div.seccao-sobre-desenvolvimento-web h3,
	body.dark form input, body.dark form select {
		background-color: #444 !important;
		box-shadow: 0 0 5px #888 !important;
		color: #D6D8DA !important;
	}

	/*** Links com cores comuns ***/ 
	body.dark .main-content h1,
	body.dark .lista-de-linguagens-dominadas,
	body.dark form#preferences label {
		color: #D6D8DA !important;
	}

	/*** Bordas ***/
	
	body.dark .aside-content,
	body.dark hr{border-color: #777;}

	body.dark p.return-top {border-color: #555;}
}


/*** FONTES ***/

body.serif,
body.serif form select,
body.serif .banner-h2 {
	font-family: "Times New Roman", 'PT Serif', serif !important;
}


body.cursiva,
body.cursiva form select,
body.cursiva .banner-h2 {
	font-family: "Lobster", cursive !important;
}


/** ALINHAMENTO  DO TEXTO **/

body.justified {text-align: justify;}


/** TAMANHO DA FONTE **/

html.font-small {font-size: 90% !important;}


html.font-medium {font-size: 110% !important;}



