



/* MOBILE */
@media screen and (max-width: 613px){

	/* RESET */
	a:hover {text-decoration: none;} 


	/*************  HEADER   *************/
	header {
		padding: 0; /*-- Reset --*/
		border-bottom: 8px groove orange; /*-- Nova formatação --*/
	}

	header div.logo-box a {font-size: 24px;}

	header .header-row nav {display: none;}

	header .header-row {
		flex-wrap: wrap;
		padding: 15px;
		flex-direction: row;
	} 

	.header-row div.logo-box {flex-basis: 80%;}

	.header-row nav ul li a{
		color: #fff;
	}

	.header-row nav ul li a:hover{
		background-color: rgba(219, 146, 57, .4);
		border-bottom: none;
	}
	
	
	.index a.active,
	.cdp a.active,
	.darv a.active,
	.preferences a.active,
	.sobre a.active,
	.contacto a.active {
		/* Reset */
		border-bottom: none !important;
		color: #fff;
	}

	

	/* SESSAO DE MENU-MOBILE */
	.header-row div.menu-mobile {
		width: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 1px solid #444;
		border-radius: 2px;
		padding: 2px 0;
		transition: border 200ms ease-out;
	}

	div.menu-mobile h4 {
		font-size: 12px;
		font-weight: bold;
		color: #aaa;
		transition-duration: 200ms;
	}

	div.hamburger-container {width: 30px;}

	div.hamburger-container div {
		width: 100%;
		height: 3px;
		margin: 4px 0;
		background-color: #eee;
		border-radius: 10px;
		transition-duration: 200ms; /* Transição de menu-hamburger "Off" para "ON"; */
	}

	/***** Menu On - Posisionamento *****/

	.header-row.menuOn {
		position: absolute;
		top: 0;
		left: 0;

		width: 100vw;
		height: 100vh;
		z-index: 1000;

		background-color: #555;
		border-bottom: 8px groove orange;
		align-items: flex-start;
		transition: height 200ms ease-out;
	}


	/* Transformacao do menu-hamburger */

	.header-row.menuOn div.menu-mobile {
		border: none;
		order: 0;
	}

	.header-row.menuOn div.menu-mobile h4{opacity: 0;}

	.header-row.menuOn div.menu-mobile div.f1 {
		transform: rotate(35deg) translate(2px, 3px);
	}

	.header-row.menuOn div.menu-mobile div.f2 {
		opacity: 0;
		transition: opacity 300ms ease-out;
	}

	.header-row.menuOn div.menu-mobile div.f3 {
		transform: rotate(-35deg) translate(7px, -8px);
	}

	.header-row.menuOn div.menu-mobile div.f1, div.f3 {
		transition: transform 200ms ease-out; 
	} 

	/********* SHOW MENU ***********/
	.header-row.menuOn nav {
		flex: 1;
		display: block;
	}

	.header-row.menuOn nav ul {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		line-height: 3.5;
		border: 1px solid rgb(77, 77, 77);
	}

	.header-row.menuOn nav ul li {
		width: 100%;
		border-bottom: 1px solid rgb(241, 14, 14);
	}

	.header-row.menuOn nav ul li:last-child {
		width: 100%;
		border-bottom: 0px;
	}

	.header-row.menuOn nav ul li a{
		display: block;
		padding: 0px;
		text-align: center;
	}

	.header-row.menuOn nav ul li a:hover{
		border: none;
	}
}


@media screen and (max-width: 520px){
	
		body {
			background-color: #fff;
			width: 100%;
		}

	/* CORPO DA PAGINA */

	/* TITULOS */
	div.body-row .main-content h1, .main-content h2, .main-content h3 {
		/****  Reset ********/
		background-color: #eee;
		border: none;
		border-radius: 0px;

		/****  Reformatacao ********/
		font-size: 1.5rem;
		color: #555;
		margin: 20px 10px 10px 10px;
	}



	/******** TITULOS *************/
	div.body-row .main-content h3, .main-content h4, .main-content h5 {
		color: #555;
	}

	div.body-row{
		/***** Reset ****/
		border-radius: 0px;
		padding: 0;
		/****  Reformatacao ********/
		background-color: #fff;
		margin-top: 30px;
		border-top: solid 1px #ddd;
	}

	/******** TITULOS *************/
	div.body-row div.main-content {
		/***** Reset ****/
		border: none;
		border-radius: 0px;
		padding: 0px;
		/****** Nova Formatacao *****/
		width: 96%; /**** Para deixar uma margem de 3% em cada lad ***/
		margin: 0 auto;
		background-color: #fff;
		
	}


	/******** BARRA LATERAL ********/
	div.body-row div.aside-content {
		display: none;
	}

	/************ FOOTER ************/
	 footer {
	 	width: 100%;
		 font-size: 0.875rem;
	 }

	 footer p {
	 	text-align: center;
	 	margin: 0 3%;
	 }

	 footer p a {
	 	display: block;
	 }


	 /******* CSS REUTILIZAVEL    ******/
	 .trecho-com-display-none-no-pc {display: inline;}

	.trecho-com-display-none-in-mobile {display: none;}

	/****** Tabelas da Pagina de Diversos  ******/
	table td, table th {
		border: 1px solid #888 !important;
	}
}



/** Alinhamento do menu Hamburger ao Logo **/
@media screen and (min-width: 338px) {
	.header-row.menuOn .logo-box {margin-top: 6px;}

	.header-row.menuOn .menu-mobile {padding-top: 0px;}
}


/* Menu mobile em dispositivos com altura menor */
@media screen and (max-height: 403px) {
	.header-row.menuOn nav ul, 
	.header-row.menuOn nav ul li {
		border: none !important
	}
	.header-row.menuOn nav ul li a{max-height: 40px;}

	.header-row.menuOn nav ul li a:hover{background-color: initial;}
}



