
div.body-row {
    margin-top: 0px!important;
}

section.menu-tarv {
    height: 30px;
}

div.container-dos-tres-pontos {
    width:34px;
    border-radius: 8px;

    margin-right: 3%;
    padding: 10px 5px 10px 5px; 
    
}

div.container-dos-tres-pontos:hover {
    background-color: #eee;
}

div.container-dos-tres-pontos > div {
    width: 4px;
    height: 4px;
    background-color: #888;
    border-radius: 3px;
    margin: 1px;
}

/*** nav de abreviacoes ***/
div.navigation {
    padding: 10px;

    background-color: #fff;
    
    border: 1px solid #ddd;

    width: 100%;
    max-width: 75vw;
    height: 100vh;

    position: absolute;
    top: 23px;
    right: 0;

    z-index: 1000;

}



