/*****    Titulos   *****/

.body-row .main-content h1 {
    width: 94%;
    max-width: 490px;
    
    display: block;
    margin: 10px auto;
}

form#preferences {
    width: 100%;
    max-width: 500px;
    margin: 25px auto 0 auto;

}


form#preferences fieldset {
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 10px;

}

form#preferences fieldset legend, p {
    padding: 10px;
    margin: 10px;
}

form#preferences fieldset p {
    text-indent: 30px;
    margin-bottom: 0px;
}


form#preferences fieldset legend, label {
    font-weight: bold;
}


form#preferences fieldset label {
    color: #555;
    display: block;
}

form#preferences fieldset select {
    width: 100%;
    max-width: 220px;
	font-size: 0.9375rem; /*15px;*/
    
    color: #555;
    font-family: "arial";
    margin-left: 30px;

	padding: 8px;

    border-radius: 3px;
    border: 1px solid #ccc;
	background-color: #fff;
}

form#preferences fieldset select:hover {
    border:1px solid rgb(250, 160, 50);
}





/*** media queries ******/

@media screen and (max-width: 521px){
   
    form#preferences fieldset {
        border: 1px solid #ddd;
    }

    form#preferences fieldset p {
        margin-top: 0px;
        text-indent: 0px;
    }

    form#preferences fieldset legend {
        color: #555;
    }

    
    form#preferences fieldset label {
    	font-weight: initial !important;
    }

    form#preferences fieldset  p select {
        margin-left: 0px;
        background-color: rgba(240, 240, 240, .7);
	    color: #333;
    }

}


/*** PREFERENCES JS *******/

/** Legends ***/

.cor-cinza-claro {
    color: #aaa !important;
}

.cor-cinza-escuro {
    color: #888 !important;
}