@media screen and (max-width: 768px){
	/********** Banner - background  **********/
	.banner-row {
		/*background: url("../img/esperimento/capa.jpg") no-repeat center center/ cover;*/
		background: url("../img/mobile_s/banner_s.jpg") no-repeat center center / cover;
		width: 100%;
		height: 200px;
		border-bottom: 1px solid #aaa;
	}

	.banner {
		opacity: 1;
		background-color: rgba(8, 8, 8, .6);
	}

	.banner:hover{
		background-color: initial;
		opacity: 0;
	}

	.banner-h2 {
		font-family:  Arial, Helvetica, sans-serif;
		font-weight: lighter;
		font-size: 1.2rem;
	}
}


/****   Para transformar os titulos em maiuscula(s) ***/
@media screen and (min-width: 521px){
	.main-content h3 {
		text-transform: uppercase;
		line-height: 1.5;
	}
}

/*************** MOBILE S & M ******************/
@media screen and (max-width: 520px){
	/************** CORPO DA PÁGINA ****************/
	div.body-row {
		margin-top: 5px;
	}

	/*** FORMATAÇÃO DO CONTAINER DAS IMAGENS ****/
	div.galeria {
		width: 96%;
	}

	picture {
		width: 94%;
		height: auto;
		margin: 0 auto;
		border: none;
		margin-bottom: 0px;
	}


	picture.moldura-da-foto-de-infancia {
		width: 94%;
	}

	picture.moldura-da-foto-de-infancia img.foto-de-infancia {
		width: 100%;
	}

	/*** Titulos ****/
	div.main-content h4 {
		/*     reset    */
		text-indent: 0px;
		margin: 0px !important;

		padding-left: 10px;
		padding-right: 10px;
		
	}

	h4.titulo-da-foto-de-infancia, h4.titulo-do-concurso-da-dps {
		text-indent: 0px;
	}

	/*** ADERITO + DESENVOLVIMENTO E PROGRAMACAO WEB */
	div.body-row div.main-content h3 {
		font-size: 1.125rem;
		line-height: 1.5 !important;
		margin: 0 !important;

		background-color: #eee;

		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}

	div.body-row div.main-content h5 {
		margin: 0px !important;
		font-size: 1rem;
	}

	.bg-fquatro {
		background-color: rgba(238, 229, 243, .4);
		margin-left: 10px;
		margin-right: 10px;
	}

	/** Linguagens dominadas  **/

	div.body-row .main-content ul.lista-de-linguagens-dominadas {
		text-indent: 0px !important;
		padding: 0px !important;
	}

	/****** CSS REUTILIZAVEL ********/
	.object-fit-fill-in-mobile {
		object-fit: fill !important; /*** Por enquanto é só o boletim de 5 a 6 que tem esta classe ***/
	}

	.object-fit-contain-in-mobile {
		object-fit: contain !important; /*** Por enquanto é só o boletim de 5 a 6 que tem esta classe ***/
	}

}