@media screen and (max-width: 1005px){
	/* Banner - background */
	.banner-row {
		height: 200px;
	}
}

@media screen and (max-width: 768px){
	/********** Banner - background  **********/
	.banner-row {
		/** reset **/
		border-left: none !important;
		border-right: none !important;
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;

		/*background: url("../img/esperimento/capa.jpg") no-repeat center center/ cover;*/
		background: url("../img/mobile_s/banner_s.jpg") no-repeat center center / cover;
		width: 100%;
		border-bottom: 1px solid #aaa;
	}

	.banner-h2 {
		font-size: 1rem;
		padding: 10px;
	}
}

/*************** MOBILE S & M ******************/
@media screen and (max-width: 520px){
	/************** CORPO DA PÁGINA ****************/
	div.body-row {
		margin-top: 5px;
	}

	/*** FORMATAÇÃO DO CONTAINER DAS IMAGENS ****/
	div.galeria {
		width: 96%;
	}

	picture {
		width: 94%;
		height: auto;
		margin: 0 auto;
		border: none;
		margin-bottom: 0px;
	}


	picture.moldura-da-foto-de-infancia {
		width: 94%;
	}

	picture.moldura-da-foto-de-infancia img.foto-de-infancia {
		width: 100%;
	}

	/*** Titulos ****/
	

	/*** ADERITO + DESENVOLVIMENTO E PROGRAMACAO WEB */
	div.body-row div.main-content h3 {
		width: 100%;
		margin: 20px auto 10px auto !important; 
		font-size: 1.125rem;

		background-color: #eee;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}

	div.body-row div.main-content h5 {
		margin: 0px !important;
		font-size: 1rem;
	}

	.bg-fquatro {
		background-color: rgba(238, 229, 243, .4);
		margin-left: 10px;
		margin-right: 10px;
	}

	/** Linguagens dominadas  **/

	div.body-row .main-content ul.lista-de-linguagens-dominadas {
		text-indent: 0px !important;
		padding: 0px !important;
	}

	/****** CSS REUTILIZAVEL ********/
	.object-fit-fill-in-mobile {
		object-fit: fill !important; /*** Por enquanto é só o boletim de 5 a 6 que tem esta classe ***/
	}

	.object-fit-contain-in-mobile {
		object-fit: contain !important; /*** Por enquanto é só o boletim de 5 a 6 que tem esta classe ***/
	}

	/*** PREFERENCIAS - MODO ESCURO ***/

	body.dark .main-content h4 {
		color: #aaa !important;
	}

	body.dark .main-content h4:hover {
		color: rgb(250, 160, 50) !important;
	}

	body.dark .seccao-sobre-desenvolvimento-web,
	body.dark .seccao-sobre-desenvolvimento-web h3 {
		background-color: rgba(34, 31, 34) !important;
	}
}