
.main-content div {margin-bottom: 10px;}


/* TITULOS */
header h2 {
	line-height: 1.2;
}
div.body-row .main-content h1 {font-size: 1.375rem;}

div.body-row .main-content h4 {
	/* reset */
	margin-left: 0px !important;
	margin-right: 0px !important;
	text-align: left;
}

/* LISTAS */
.main-content ul {
	list-style: disc !important;
	list-style-position: inside;
}

/* PARAGRAFOS EM DESTAQUE */
.main-content p.nota {
	background-color: #EEF;
	color: #000;

	font-weight: bold;
	font-style: italic;

	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.main-content p.conjuncao-ou {
	text-align: center;
}


/* FORMATACAO DAS TABELAS */

table {
	border-collapse: collapse;
	width: 96%;
	max-width: 621px;
	margin: 0 auto;
}

table td, th {
	border: 1px solid #888;
	padding: 5px;
	text-align: center;
	line-height: 1.5;
	vertical-align: middle;
}

thead tr:nth-child(1) {
	background-color: rgb(250, 160, 50);
}

tfoot tr td {
	font-size: 0.75rem;
	font-style: italic;
	color: #555;
}

/* TABELA DE DOSES DE DIAZEPAM */
.tabela-de-doses-de-diazepam {
	table-layout: fixed;
}

/** TABELA DE ABREVIACOES **/
.tabela-de-abreviacoes th, .tabela-de-abreviacoes td {
	text-align: left;
}

.tabela-de-abreviacoes + p.nota {
	font-weight: initial;
	font-size: 0.75rem;
}

/*********** CSS - REUTILIZAVEL ***********/

.main-content h4, h6, th, tfoot td {
	font-weight: bold;
	text-align: center;
}


.background-gray {
	background-color: #eee;
}

 