@media screen and (max-width: 520px) { 

    /*** TABELAS ****/
    table.tabela-de-abreviacoes  {
		table-layout: fixed;
	}

    /*** Footer ****/
    footer {
        background-color: rgba(238, 229, 243, .4);;
        padding: 0px;
        margin-bottom: 0px !important;
    }

    div.saibamais-footer {
        flex-direction: column;
    }


    div.container-do-p-com-endereco-do-site {
        background-color: #f8f8f8;
        border-bottom: 1px solid #ddd;
        padding: 10px;

    }

    div.container-do-p-com-endereco-do-site p, div.saibamais-footer p{
        flex: 1;
    }

    div.saibamais-footer p {
        padding-top: 10px;
        padding-bottom: 10px;
        color: #888;

    }

    div.container-do-p-com-endereco-do-site a, div.saibamais-footer a {
        color: #888;
    }


    /** PREFERENCIAS **/
    body.dark div#container-do-conteudo-saibamais,
    body.dark .container-do-p-com-endereco-do-site,
    body.dark h1 {
        background-color: rgba(34, 31, 34) !important;
        border-color: #444 !important;
    }

    body.dark .container-do-p-com-endereco-do-site a {
        color: rebeccapurple;
    }
    
}

@media screen and (max-width: 350px) {
	.hide-in-screen-s {
		display: none;
	}
}



