
/* MOBILE FIRST */
body {
	color: #333;
	font-family: sans-serif, Arial, Helvetica, 'Source Sans Pro', sans-serif;
}

*::selection {
	color: #fff;
	background-color: #FAA032;
}

a {
	text-decoration: none;
}

a:visited {
	color:#FAA032;
}

nav a:visited {
	color: inherit;
	text-decoration: none;
}

meter {
	width: 100%;
	position: fixed;
	top: -10px;
	left: 0;
}

img {
	max-width: 100%;
	display: block;
	margin: auto;
}

/* Omissão de elementos do Desktop */

header nav, aside, ul.dropdown-menu, 
span.darv, .trecho-com-display-none-no-cel,
.separador-do-rodape {
	display: none;
}

/* linhas */
header, footer {
	background-color: #555;
}

.linha {
	width: 100%;
	padding: 0 4%;
}

/* Cabecalho */

header {
	border-bottom: 8px groove #FAA032 !important;
}

.linha-do-cabecalho {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
}

.linha-do-cabecalho .contentor-da-logo {
	flex-basis: 72%;
}

.linha-do-cabecalho .contentor-da-logo a {
	font-size: 24px;
	text-decoration: none;
	color: #FAA032;
	font-family: "Lobster", cursive, Arial, Helvetica, sans-serif;
}

/* SESSAO DE MENU-MOBILE */
.linha-do-cabecalho .contentor-do-menu-hamburguer {
	width: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #444;
	border-radius: 2px;
	padding: 2px 0;
	transition: border 150ms ease-out;
}

.contentor-do-titulo-do-menu-hamburguer h4 {
	font-size: 12px;
	font-weight: bold;
	color: #aaa;
	transition: opacity 200ms ease-out;
}

div.contentor-das-fatias-do-menu-hamburguer {
	width: 30px;
}

.contentor-das-fatias-do-menu-hamburguer .fatia {
	width: 100%;
	height: 3px;
	margin: 4px 0;
	background-color: #eee;
	border-radius: 50%;
	transition: all 150ms ease-out;
}

/* MENU ABERTO */
.linha-do-cabecalho.com-menu-aberto .contentor-da-logo{
	margin-top: 10px;
}

@media screen and (max-width: 319px) {
	.linha-do-cabecalho.com-menu-aberto .contentor-da-logo{
		margin-top: 0px;
	}

	.contentor-do-menu-hamburguer {
		margin-top: 5px;
	}
}

.linha-do-cabecalho.com-menu-aberto {
	position: absolute;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;
	z-index: 10;

	background-color: #555;
	border-bottom: 8px groove orange;
	align-items: flex-start;
	transition: height 150ms linear;
}

.linha-do-cabecalho.com-menu-aberto .contentor-do-menu-hamburguer {
	border: none;
}

.linha-do-cabecalho.com-menu-aberto .contentor-do-titulo-do-menu-hamburguer h4{
	opacity: 0;
}

.linha-do-cabecalho.com-menu-aberto .contentor-do-menu-hamburguer .fatia.f1{
	transform: rotate(35deg) translate(2px, 3px);
}

.linha-do-cabecalho.com-menu-aberto .contentor-do-menu-hamburguer .fatia.f2{
	opacity: 0;
	transition: opacity 200ms ease-out;
}

.linha-do-cabecalho.com-menu-aberto .contentor-do-menu-hamburguer .fatia.f3{
	transform: rotate(-35deg) translate(7px, -8px);
}

.linha-do-cabecalho.com-menu-aberto .contentor-do-menu-hamburguer .fatia.f1, fatia.f3 {
	transition: transform 150ms ease-in;
}

/* MOSTRAR ITEMS DO MENU */
.linha-do-cabecalho.com-menu-aberto nav {
	display: block;
	flex: 1 1 100%;
	text-align: center;
}
	
.linha-do-cabecalho.com-menu-aberto nav ul {
	line-height: 3.5;
	border: 1px solid rgb(77, 77, 77);
}

@media screen and (max-height: 400px) {
	.linha-do-cabecalho.com-menu-aberto nav ul {
		line-height: 2.5;
	}
}

.linha-do-cabecalho.com-menu-aberto nav ul li {
	width: 100%;
	border-bottom: 1px solid rgb(77, 77, 77);
}

.linha-do-cabecalho.com-menu-aberto nav ul li a{
	display: block;
	color: #fff;
}

/*.linha-do-cabecalho.com-menu-aberto nav ul li a:hover{
	background-color: rgba(219, 146, 57, .4);
}*/

/* SESSAO DE MENU RETICENCIAS */
section.menu-reticencias {
	height: 30px;
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: flex-end;
	max-width: 1024px;
}

div.contentor-dos-tres-pontos {
    width: 34px;
    border-radius: 50%;
    margin-right: 4%;
	padding: 10px 5px;
	display: flex; 
}

div.contentor-dos-tres-pontos:hover {
    background-color: #eee;
}

div.contentor-dos-tres-pontos > div {
    width: 4px;
    height: 4px;
    background-color: #888;
    border-radius: 3px;
    margin: 2px;
}


div.conteudo-do-menu-reticencias {
    position: absolute;
    top: 12%;
    right: 8%; 
    border-radius: 4px;
    background-color: #FFf;
    box-shadow: 0 0 5px #888;
    color: #888;
	width: 0;
	/*height: 0;*/
    transition: width 100ms;
    overflow: hidden;
}

div.conteudo-do-menu-reticencias nav{
	display: block !important;
    padding: 0px;
}

div.conteudo-do-menu-reticencias nav ul li {
    list-style: none !important;
    line-height: 2;
    display: flex;
}

div.conteudo-do-menu-reticencias nav ul li a {
    flex: 1;
    padding: 10px 10px 10px 15px;
	color: #333;
	font-size: 14px;
}

div.conteudo-do-menu-reticencias nav ul li a:visited { 
	color: #333;
}

/*** MENU RETICENCIAS ABERTO ****/
section.menu-reticencias.activo
div.conteudo-do-menu-reticencias,
div.menu-reticencias.activo
div.conteudo-do-menu-reticencias nav {
    right: 4% !important;
    display: block !important;
	width: 50vw !important;
	z-index: 5;
}




.linha-do-corpo {
	padding: 0;
	margin-top: 30px;
	border-top: 1px solid #ddd;
}

.artigo {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

/* Titulos */
.main h1 {
	font-size: 1.5rem;
	margin-bottom: 10px;
	text-align: center;	
	line-height: 1.5;
	font-weight: bold;
	color: #555;
}

.main h2 {font-size: 1.375rem;}

.main h3 {font-size: 1.25rem;}

.main h4 {font-size: 1.125rem;}

.main h5 {font-size: 1rem;}

.main h6 {font-size: 0.875rem;}

.main h2, 
.main h3, 
.main h4,
.main h5, 
.main h6 {
	margin: 20px 0px 0px 0px;
	line-height: 1.5;
	color: initial;
}

/* Paragrafos e trechos de texto */
.main p, dl, dd, dt, .main li{line-height: 1.5;}

.main p, .main ul, .main dl, .main ol {margin: 20px 0;}

abbr {
	text-decoration: none;
	font-style: normal;
}

.main li, dl, dd, dt {margin: 10px 0;}

.destaque {
	padding: 10px;
	background-color: #f4f4f4;	
}

.main  .subdestaque {
	margin-left: 5% !important;
	font-size: 0.75rem;
	border-left: 1px solid #faa032;
}

.full-black {
	color: #000;
}


p {
	position: relative;
}

.bold {
	font-weight: bold;
	color: #555;
}

.nota {
	text-align: center;
}

.slogan-do-misau {
	font-size: 1.125rem;
	font-weight: bold;
	color: #faa032;
	text-align: center;
}

/* Listas */
.main ol {list-style: decimal inside;}

.main ul {list-style: disc inside;}

/* Listas */
.main ol, .main ul {
	padding-left: 5%;
}

/* Tabelas */
table {
    border-collapse: collapse;
    width: 100%;
}

.main table th,
.main table td {
	line-height: 1.5;
	padding: 5px;
	border: 1px solid #ddd;
	vertical-align: middle;
}

.main table thead tr:first-child th{
	background-color: #eee;
}

.main table thead tr:nth-child(2) th, 
tfoot td {
	background-color: #fafafa;
}

tfoot td {
	font-size: 0.75rem;
	color: #555;
}

/* RODAPÉ */
.linha-do-rodape {
	padding-top: 10px;
	padding-bottom: 10px;
}

footer p {
	line-height: 1.5;
	text-align: center;
	color: #eee;
	font-size: 14px;
}

footer p a.website {
	color: #eee;
	display: inline-block;
}

footer a {
	display: block;
	color: #FAA032;
}


/*** Links de compartilhamento **/
.contentor-dos-links-de-partilha {
    display: flex;
	align-items: center;
	margin: 20px 0;
}

.contentor-dos-links-de-partilha a {
    display: flex;
    align-items: center;
	font-size: 12px;
	justify-content: center;
	color: inherit;
}

.contentor-dos-links-de-partilha a:first-child {
    margin-right: 40px;
}

.contentor-dos-links-de-partilha img {
    display: inline-block;
    width: 22px;
    height: 22px;
	margin-left: 5px !important;
	border: none !important;
}


/** CAIXA DE DIÁLOGO */
.contentor-da-caixa-de-dialogo {
    display: none;
}

.caixa-de-dialogo {
    width: 100%;
    background-color: #fff;
    font-size: 14px;
	position: absolute;
    bottom: 15vh;
    z-index: 8;
    border-radius: 5px;
}

.caixa-de-dialogo h4 {
	margin: 0;
    padding: 10px;
	text-align: center;
	font-size: 16px;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
}

.caixa-de-dialogo nav {
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.caixa-de-dialogo nav a {
    width: 100%;
    padding: 20px 10px;
    flex: 1;
    color: inherit;
    text-align: center;
}

.caixa-de-dialogo button {
    border: none;
    width: 100%;
    font-size: 18px;
    color: red;
    background-color: inherit;
	border-top: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Abrir caixa de Dialogo */

.contentor-da-caixa-de-dialogo.abrir {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: auto;
    position: relative;
}


body.com-caixa-de-dialogo-aberta,
body.com-caixa-de-dialogo-aberta .linha-do-corpo {
	background-color: rgba(219, 146, 57, .4);
	
}


body.com-caixa-de-dialogo-aberta a.chave-de-dialogo {
	color: #FAA032;
}


@media screen and (max-width: 600px) {
	body.com-caixa-de-dialogo-aberta {
		overflow: hidden;
	}

	.caixa-de-dialogo {
		bottom: 25vh;
	}

	section.menu-reticencias.activo
	div.conteudo-do-menu-reticencias,
	div.menu-reticencias.activo
	div.conteudo-do-menu-reticencias nav {
		width: 75vw !important;
	}
}

/** RESPONSIVIDADE **/


@media screen and (min-width: 700px) {
	/** Omissão de elementos Mobilie */

	.contentor-do-menu-hamburguer,
	header nav a span.trecho-dedoses,
	header nav a span.doseador, .trecho-com-display-none-no-pc {
		display: none !important;
	}

	header nav a span.darv,
	.separador-do-rodape,
	.trecho-com-display-none-no-cel {
		display: inline;
	}

	.nota {
		background-color: #eee;
	}
	
	.nota + p {
		margin-top: 0;
	}

	.linha {
		max-width: 1024px;
		margin: 0 auto;
	}
	
	/* Cabecalho */
	.linha-do-cabecalho {
		flex-wrap: nowrap;
		padding: 0;
		flex-direction: column;
		align-items: center;
	}

	.linha-do-cabecalho .contentor-da-logo {
		flex-basis: initial;
		width: 100%;
		padding: 10px;
	}
	
	/** Menu **/
	header nav {
		display: block;
		width: 100%;
		text-align: center;
	}

	.linha-do-cabecalho nav ul.dropdown-menu {
		display: none;
	}

	.linha-do-cabecalho nav ul {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.linha-do-cabecalho nav ul li{
		flex: 1;
		text-align: center;
		display: flex;
	}

	.linha-do-cabecalho nav ul li a{
		padding: 10px 5px;
		flex: 1;
		color: #ccc;
		font-size: 0.875rem;
	}

	.linha-do-cabecalho nav ul li a.activo {
		border-bottom: 2px solid #eee;
		color: #fff;
	}

	.linha-do-cabecalho nav ul li a:hover {
		color: #fff;
	}

	/** Main **/
	

	.linha-do-corpo {
		background-color: #fff;
		padding: 30px 0;
	}

	.main {
		max-width: 700px;
		margin: 0 auto !important;
		padding: 0 15px;
		border: none !important;
	}

	

	/* Rodape */
	footer a {
		display: inline-block;
	}
}


@media screen and (min-width: 880px) {
	header nav a span.doseador  {
		display: inline-block !important;
	}

	header nav a span.darv {
		display: none;
	}

	.main .artigo {
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media screen and (min-width: 1024px) {
	body {
		background-color: #f4f4f4;
	}

	.linha-do-cabecalho nav a:active {
		background-color: rgba(219, 146, 57, .4) !important;
	}
	.main a:active {
		color: #faa032 !important;
	}

	.linha-do-corpo {
		box-shadow: 0 0 8px #ddd;
		margin: 40px auto;
        padding: 30px;
        border-radius: 15px;
	}

	.menu-reticencias {
		display: none !important;
	}


	/** DROPDOWN MENU ***/

	li.dropdown-container {
		position: relative;
	}
	
	li.dropdown-container.on a.target {
		color: #fff;
	}
	
	li.dropdown-container ul.dropdown-menu {
		display: none;
		transition: all 150ms ease-out;
	}
	
	li.dropdown-container.on ul.dropdown-menu {
		display: block;
		position: absolute;
		top: 35px;
		background-color: #555;
		border: 1px solid #888;
		border-top: none;
		box-shadow: 0 0 5px #555;
		transition: all 150ms ease-out;
		z-index: 10;
		width: 100%;

		border-bottom: 8px groove #FAA032 !important;
	}
	
	
	li.dropdown-container.on ul.dropdown-menu li{
		line-height: 3;
		border-top: 1px solid #666;
		display: flex;
		transition: all 150ms;
		position: relative;
	}
	
	
	li.dropdown-container.on ul.dropdown-menu li a {
		color: #fff;
		padding: 7px 10px;
		flex: 1;
		overflow: hidden;
	}
	
	li.dropdown-container.on ul.dropdown-menu li a:hover {
		border-bottom:none;
	}
}


