

.linha-do-corpo {
    padding: 0;
}

.contentor-de-preferencias {
    margin: 0 auto;
    margin: 0 4%;

}

.contentor-de-preferencias h1 {
    margin: 10px 0 20px 0;
}

form#preferencias {
    max-width: 425px;
    margin: 0 auto;
   
}

form#preferencias fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
}

form#preferencias legend {
    font-weight: bold;
    margin: 10px;
    padding: 4px;
}

form#preferencias p {
    padding: 8px 14px;
    margin: 0;
}

form#preferencias label {
    display: block;
}


form#preferencias select  {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
    max-width: 200px;
    background-color: #f8f8f8;
    font-size: 0.875rem;
}




@media screen and (min-width: 600px) {
    .contentor-de-preferencias h1 {
        margin-top: 0;
    }

    form#preferencias fieldset {
        padding: 10px;
    }

    form#preferencias legend { 
        padding-left: 8px;
        padding-right: 8px;
    }


    form#preferencias fieldset p{ 
        padding-left: 17px;
    }

}



