
.contentor-de-preferencias {
    margin-left: 4% !important;
    margin-right: 4% !important;
}

.contentor-de-preferencias h1 {
    margin: 10px 0 20px 0;
}

form#preferencias {
    max-width: 425px;
    margin: 0 auto;
   
}

form#preferencias fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
}

form#preferencias legend {
    font-weight: bold;
    margin: 10px;
    padding: 4px;
}

form#preferencias p {
    padding: 8px 14px;
    margin: 0;
}

form#preferencias label {
    display: block;
}


form#preferencias select  {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
    max-width: 200px;
    background-color: #f8f8f8;
    font-size: 0.875rem;
}


