.linha-do-corpo {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    padding: 0;
}                                                                                                                                                                                                                                                                                                                                                       

.main {
    margin: 0 4%;
}

.artigo img {
    margin: initial;
    border: 1px solid #ccc
}

.artigo figcaption {
    border: 1px solid #ddd;
    padding: 2px;
    font-size: 12px;
    max-width: 322px;
    color: #6E655C;
}

ul.dominio-de-linguagens li a, 
ul.dominio-de-linguagens li a:visited,
a.voltar-ao-topo,
a.voltar-ao-topo:visited {
    color: #333; 
}


/** CV **/

.galeria {
    border-top: 1px solid #ddd;
    max-width: 600px;
    margin: auto; 
}

.galeria:first-child {
    margin-top: 20px;
}

.galeria:last-child {
    border-bottom: 1px solid #ddd;
    margin-bottom: 80px;
}

.galeria .titulo-da-galeria {
    display: flex;
}


.titulo-da-galeria.hover {
    cursor: pointer;
    background-color: #eee;
    color: #333;
}

.galeria .legenda {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.galeria figcaption {
    background-color: inherit;
    border: none;
    font-size: 13px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.galeria .icone {
    width: 35px;
    height: 35px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 1px;
    padding: 10px;
    transform: rotate(45deg);
    transition-duration: 250ms;
}

.galeria .icone div {
    background-color: #888;
 }


 .galeria .contentor-das-imagens {
    height: 0;
    opacity: 0;
    overflow-x: scroll;
    transition-duration: 500ms;
}


.galeria.tmg .contentor-das-imagens {
    max-height: 440px;
}

.galeria .contentor-das-imagens img {
    flex: 1 0 100%;
}

.galeria.tmg .contentor-das-imagens img{
    object-fit: cover;
}


/** Galeria Aberta **/
.galeria.aberta {
    border-top: none;
}

.galeria.aberta .titulo-da-galeria {
    box-shadow: 0 0 8px #ddd;
    background-color: #555;
    color: #d4d8da;
}

.galeria.aberta figcaption {
    color: #d4d8da;
}

.galeria.aberta .icone {
    grid-gap: 3px;
}

.galeria.aberta .icone div,
.titulo-da-galeria.hover .icone div {
    background-color: #faa032;
 }

.galeria.aberta .contentor-das-imagens { 
    opacity: 1;
    height: auto;
    overflow: hidden;
    display: flex;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    position: relative;
}

.galeria.aberta .contentor-das-imagens img {
    border: none;
}

.galeria.concurso img {
    margin: auto; 
}

.galeria.aberta .contentor-dos-botoes {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.galeria.aberta .contentor-dos-botoes button {
    font-size: 20px;
    border: none;
    outline: none;
    color: #fff;
    background-color: rgba(0, 0, 0, .2);
    margin: 0 5px;
    padding: 5px 25px;
    border-radius: 4px;
    cursor: pointer;
}

.galeria.aberta .contentor-dos-botoes button.clicado {
    background-color: rgba(197, 99, 99, 0.4);
}


.ordem-zero {
    order: -1 !important;
}

footer.fixo {
	width: 100%;
    position: fixed;
    bottom: 0;
    margin-top: 20px;
}


/* Responsividade */
@media screen and (max-width: 560px) {
    .galeria.tmg .contentor-das-imagens {
        max-height: 320px;
    }

}


@media screen and (max-width: 425px) {
    .galeria.tmg .contentor-das-imagens {
        max-height: 250px;
    }

}


@media screen and (max-width: 320px) {
    .galeria.tmg .contentor-das-imagens {
        max-height: 200px;
    }

}